[2016-06-07 19:30] tdaede opened #1 "test_run_kfold_cross_validation_with_list_input fails on Fedora 23"
<pre>
FAIL: test_run_kfold_cross_validation_with_list_input (cross_validation_test.FeatureCrossValidationTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/thomas/sandbox/vmaf/python/test/cross_validation_test.py", line 92, in test_run_kfold_cross_validation_with_list_input
    self.assertAlmostEquals(output['aggr_stats']['

[2016-06-07 19:51] zli-nflx commented on #1
Hi Tdaede, there could be several possibilities: 1) If the numpy/scipy/sklearn are not up-to-date, there could be numeric differences. You can follow the Prerequiste/Troubleshooting section for this. 2) I also found that there could be numeric difference across platforms. I have not tried on Fedora. I could definitely look into a Fedora to see if the result makes sense or not. Is this the only fai

[2016-06-07 20:06] haiqianw commented on #1
Hi Zhi,

I am Haiqiang Wang from USC. Currently I work with Ioannis on the project.

I pulled it from Git yesterday. All the prerequisite (numpy, scipy,
sklearn) were installed with correct version, but I encountered the same
FAIL as Thomas, it is the only failure that happened. My platform is Mac
pro El Capitan 10.11.

Best,
Haiqiang

On Tue, Jun 7, 2016 at 12:51 PM, Zhi Li <notifications@github.

[2016-06-07 20:34] tdaede commented on #1
I realized that Fedora 23's versions of all the packages were out of date from those listed. I made a virtualenv and installed the versions listed, but still got the exact same result.

Maybe it's a difference in BLAS implementation or something? I'm using atlas 3.10.2.

[2016-06-07 22:00] zli-nflx commented on #1
Hi Haiqiang, just want to make sure you were directly building in Mac OS, not on a Fedora VM, right?

[2016-06-07 22:04] haiqianw commented on #1
Yes, directly in Mac OS.

[2016-06-08 03:43] cvley opened #2 "test_run_vamf_legacy_runner_10le (quality_runner_test.QualityRunnerTest) failed on Ubuntu 14.04"
[code]

With some tests and google, I think it was caused by ecryptfs which file length maximum number is less than 144. Hope you can deal with it, thanks 😃

[2016-06-08 13:20] zli-nflx commented on #2
Will be looking into this...

On Tuesday, June 7, 2016, 影风LEY <notifications@github.com> wrote:

[2016-06-08 17:40] zli-nflx commented on #1
@tdaede: I was able to reproduce your issue on Fedora 23 (I noticed the atlas version was atlas-3.10.2-6.fc23.x86_64 when installing numpy). After upgrading numpy/scipy/sklearn/matplotlib/pandas (pip install --upgrade xxx), the issue went away.

@haiqianw: I tried it on El Capitan, but was unable to reproduce it.

I suspect it is still issue of package out of date. When you check the package versi

[2016-06-08 18:35] zli-nflx commented on #2
@cvley: I created a branch:
https://github.com/Netflix/vmaf/tree/bugfix/issue%232
See if it fixes your problem.

[2016-06-08 20:20] haiqianw commented on #1
When I run
python -c 'import numpy as pkg; print pkg.version; print pkg.file'
it gives:
===============================================
<module 'numpy.version' from '/Users/Haiqiang/anaconda/lib/python2.7/site-packages/numpy/version.pyc'>
Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'module' object has no attribute 'file'
===============================

[2016-06-08 20:54] zli-nflx commented on #1
@haiqianw: from your output, I realize that you are using the anaconda installation. It's an known issue to me that some test cases will fail under anaconda (it seems to be an artifact with their bake). I would recommend not to use anaconda but simply use pip.

[2016-06-09 02:40] cvley commented on #2
@zli-nflx this branch fixed this problem, thanks.

[2016-06-09 02:40] #2 closed

[2016-06-09 22:23] tdaede commented on #1
In a Fedora 23 VM with blas and lapack but no atlas, all unit tests pass. So it seems like this is due to one of the dependencies using atlas instead. I'll walk through each one and see if I can find the offending package.

[2016-06-10 18:07] zli-nflx commented on #1
Thanks! Let me know if you find anything and I'll put some notes in the troubleshoot section.

[2016-06-13 04:19] xbfhuawei opened #5 "ImprtError:Failed to import module:feature_test"
Hi,
    I am tring to test the modle,but when  I have finished to install the  numpy/scipy/matplotlib/pandas packages and run ./unittest,the err ocurrs.
![Uploading image.png…]()
Do u know why?

[2016-06-13 04:20] xbfhuawei commented on #5
The err :
ERROR: train_test_model_test (unittest.loader.ModuleImportFailure)
----------------------------------------------------------------------
ImportError: Failed to import test module: train_test_model_test
Traceback (most recent call last):
  File "/usr/lib/python2.7/unittest/loader.py", line 252, in _find_tests
    module = self._get_module_from_name(name)
  File "/usr/lib/python2.7/unitte

[2016-06-13 05:20] zli-nflx commented on #5
The error suggests that the [root]/python directory has not been added to
PYTHONPATH, thus it cannot find the [root]/python/config.py file. Please
follow the instruction in README.md to properly add the directory.

On Sun, Jun 12, 2016 at 9:20 PM, xbfhuawei <notifications@github.com> wrote:

[2016-06-13 06:30] xbfhuawei commented on #5
Hi ,
    Now the [root]/python directory has been added to PYTHONPATH .Bti still have errs:

File "/root/Desktop/vmaf-master/feature/test/feature_test.py", line 66, in test_ansnr
    score, scores = read_log(self.LOG_FILENAME, "ansnr")
  File "/root/Desktop/vmaf-master/feature/test/feature_test.py", line 22, in read_log
    score = sum(scores) / float(len(scores))
ZeroDivisionError: float division

[2016-06-13 06:45] zli-nflx commented on #5
From the error messages, it seems the 'make' has failed. Have you seen any
error messages while 'make'? If succeeded, you should see executables such
as 'vmaf' generated under feature directory.

On Sunday, June 12, 2016, xbfhuawei <notifications@github.com> wrote:

[2016-06-13 06:51] xbfhuawei commented on #5
Hi,
   sor I ignored the err when making.Here is the err of 'make',
root@ubuntu:~/Desktop/vmaf-master# make
for dir in feature libsvm; do \
                cd ${dir}; make; cd ..; \
        done
make[1]: Entering directory `/root/Desktop/vmaf-master/feature'
cc -c -o /root/Desktop/vmaf-master/feature/obj/adm_tools.o -std=c99 -g -O3 -fPIC -Wall -Wextra -pedantic   /root/Desktop/vmaf-master/feature/

[2016-06-13 16:58] zli-nflx commented on #5
It looks like the issue is "SSE2 instruction set not enabled". What cpu architecture are you using?
Googling this topic leads to:
https://github.com/shogun-toolbox/shogun/issues/2199
http://stackoverflow.com/questions/9144545/sse-instruction-set-not-enabled

Perhaps your gcc/g++ is out of date? Can you try the tips above to see if they work?

[2016-06-14 11:06] xbfhuawei commented on #5
Hi
  Now there are no buiding errs.But when try ./unitest:
======================================================================
ERROR: feature_test (unittest.loader.ModuleImportFailure)
----------------------------------------------------------------------
ImportError: Failed to import test module: feature_test
Traceback (most recent call last):
  File "/usr/lib/python2.7/unittest/loader.py", li

[2016-06-14 11:15] xbfhuawei commented on #5
Hi,
   Now I update the gcc g++ and no building errs .But try ./unitest  err:

Exception: LIBSVM library not found.

======================================================================
ERROR: test_feature_assembler_selected_atom_feature (feature_assembler_test.FeatureAssemblerTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "

[2016-06-14 15:59] zli-nflx commented on #5
If you cd to libsvm, and 'make clean; make' from there, does the build pass? I suspect that there is error(s) when you build.

[2016-06-18 08:23] xbfhuawei opened #9 "FAILED (errors=3)"
Hi，
    Now I have succeed buiding the project.The version of the python and packages are:

numpy:1.11.0
scipy:0.13.3
matplotlib:1.3.1
pandas:0.13.1
sklearn:0.18.0

some packages can not update to newest version.

now I run :./unittest got 3 errs:
======================================================================
ERROR: test_run_parallel_vamf_runner_with_model (quality_runner_test.ParallelQual

[2016-06-18 14:10] zli-nflx commented on #9
Can you upgrade your packages to the latest and try again?

On Saturday, June 18, 2016, xbfhuawei <notifications@github.com> wrote:

[2016-06-29 01:44] xbfhuawei opened #10 "About the Video Database"
Hi Li，
    I want to kown how to get the Video Database. Can I download the Video Database through Network？ Thx

[2016-06-29 08:11] xbfhuawei commented on #10
More ,We found that the complexity of algorithm is very high so that it hardly can me used in our transcoding project. We fount that VMAF, together with other metrics, have been integrated into your encoding pipeline to improve on our automated QC.How it be?

[2016-06-30 22:36] zli-nflx commented on #10
Please note that the C code hasn't been performance-optimized. Any contribution on the code optimization (e.g. threading, SIMD) will be welcome.

[2016-07-03 22:02] #10 closed

[2016-07-03 22:02] #9 closed

[2016-07-03 22:02] #5 closed

[2016-09-07 17:51] #1 closed

[2016-09-08 19:06] rbultje opened #20 "frame->sequence vmaf score aggregation may bias "easy" content too much"
I'll try to explain what I did and hopefully it will make sense. I took a bunch of the netflix-provided "4K" files from xiph's website (http://media.xiph.org/video/derf/). For the purposes of this discussion, I'll focus on the example where I took DinnerScene and FoodMarket2. I downsampled them to 360p 8bit 100frames using ffmpeg, and then encoded them using my own VP9 encoder (http://www.twooriol

[2016-09-08 19:58] rbultje opened #21 "AQ in x264 hurts VMAF score"
I encoded all "4K" clips (provided by netflix) from xiph (http://media.xiph.org/video/derf/) after converting them to 360p 8bit 30fps. I used default 1-pass CRF settings at --preset=veryslow and the following additional settings:

[nothing]
--tune=psnr
--aq-mode=0
--no-psy
--psy-rd=0.0
--aq-mode=0 --no-psy

Then I scored the VMAF score and used a slightly modified version of Google's visual-metric

[2016-09-10 01:05] li-zhi commented on #20
Hi Ronald,

Your issue touched on one of the open questions on VMAF, which is how to pool the per-frame score into a final score. I have similar intrinsic bias as you, and I think it is well warranted according to many psycho-visual studies. Currently we report the mean per-frame score as the aggregate score, just for its simplicity. But you can very easily change it into something else that will

[2016-09-10 01:19] li-zhi commented on #21
Hi Ronald,

One thing I am wondering about is, what does the underlying VIF and ADM say when you turn on/off AQ mode? Essentially, VMAF is a meta-metric that aggregates the decisions made by these elementary metrics. If it is that one of the underlying metric says AQ mode doesn't help with quality, we could further dig into that metric.

But to offer another data point. I overheard that the AQ mod

[2016-09-13 16:44] figgis opened #22 "SSIM calculation off compared to other tools"
Hi,

I did a quick comparison of the SSIM calculations using

vmaf_psnr: feature/psnr
vmaf_ssim: feature/ssim, using the `ssim: \d+` value
ycbcr_{psnr,ssim}: https://github.com/figgis/yuv-tools
ffmpeg:  ffmpeg -s SIZE -i REC -s SIZE -i DISTORTED -lavfi "ssim="stats_file=stats_ssim.log";[0:v][1:v]"psnr="stats_psnr.log" -f null -

| vmaf_psnr   | vmaf_ssim   | ycbcr_psnr   | ycbcr_ssim   | ffmpeg_ps

[2016-09-13 17:00] li-zhi commented on #22
Can you share the test videos you used? I only validated the implementation against the original matlab implementation of SSIM.

[2016-09-13 17:02] figgis commented on #22
The reference is BQMall_832x480_60.yuv a, well known sequence from the HEVC standardization. I'll try to share the distorted using dropbox later tonight (encoded using hevc reference encoder with qp=38)

[2016-09-15 08:50] figgis commented on #22
Sorry for the delay!
[ref.zip](https://github.com/Netflix/vmaf/files/474163/ref.zip)
[dis.zip](https://github.com/Netflix/vmaf/files/474182/dis.zip)

[2016-09-15 08:50] figgis commented on #22
wronmg button :-)

[2016-09-16 23:31] li-zhi commented on #22
@figgis The ssim implementation in vmaf package includes an empirical downsampling process, as described at the Suggested Usage section of https://ece.uwaterloo.ca/~z70wang/research/ssim/. The other implementations you described above, I believe, does not have this step. This should account for the numerical differences.

[2016-09-29 14:19] rbultje commented on #21
Hi Zhi,

I'll try to do the ADM/IVF individual metrics in my next response. But first, I'd like to address the more fundamental point of whether AQ should help. Let me try to do that scientifically.

I took the first frame of FoodMarket2 @ 360p (scaled with ffmpeg). Then I created a low-contrast version of this frame using the colorchannelmixer filter (ffmpeg -i ~/Movies/nflx360p/FoodMarket2.ffv1.

[2016-09-29 16:18] rbultje commented on #21
I ran the same experiments using adm2 as a metric, and results are identical. Ivf0 gives the same result also, but it has to be said that the difference in ivf0 score between the different lines is much smaller than the difference between adm2 lines or vmaf lines for varying deltaq-index values.

[2016-09-30 01:55] fraser-hemp opened #24 "High "motion" affecting score"
I have been testing a short video which is a series of still images with medium motion between them (unfortunately I cannot provide it due to copyright) and I noticed perhaps motion is weighted too highly? This is the output of VMAF for the video:
[code]

As you can see the first frame with 0 motion has a more accurate score (93), but the following frames which have a motion score of above 30 (I n

[2016-10-02 06:56] li-zhi commented on #21
Hi Ronald,

Your methodology sounds reasonable to me. I would like to spend some time to reproduce your results and exploring a few variations, such as whether the same observation holds across different pooling mechanisms, video contents and codecs. I'll let you know how things turn out to be.

[2016-10-02 11:22] rbultje commented on #21
Hi Zhi, that sounds reasonable, thanks.

[2016-10-02 15:34] li-zhi commented on #21
Hi Ronald,

I have a theory that might explain the difference you saw between the 2-frame and side-by-side setup. If it is convenient for you to do a quick test, would you mind trying again the experiments using the attached model files (you also need to pull the latest master. Also the command line interface run_vmaf etc. have changed a little bit)?
[nflxall_vmaftrying.zip](https://github.com/Net

[2016-10-03 18:12] eexyzhang commented on #9
I also got similar errors when running ./unittest

The version of my packages are:
- numpy (1.11.1)
- scipy (0.18.1)
- matplotlib (1.5.3)
- pandas (0.18.1)
- scikit-learn (0.18)
- h5py (2.6.0)

Part of the screen print is as follows:

.................test cross validation...
.test k-fold cross validation on extra trees...
.test k-fold cross validation on libsvmnusvr...
.test k-fold cross validati

[2016-10-04 01:41] li-zhi commented on #9
@eexyzhang: it looks like the latest sklearn (0.18) is not backward-compatible with models generated by previous versions. I've updated the failed test case to make it compatible with sklearn 0.18. Please pull the master and re-run the unittest.

[2016-10-04 01:47] li-zhi commented on #24
@fraser-hemp: the first frame has motion 0 is because it does not have a previous frame to calculate the motion. We plan to change this in the next version by making the motion calculation depend on either the previous frame or the next frame.

Other than this, it looks like you are getting very high VMAF scores which get clipped at 100. You may want to consider doing the calculation on a up-sampl

[2016-10-04 18:28] eexyzhang commented on #9
Thanks, the update solves the problem of 'max_depth'.

[2016-10-04 18:32] eexyzhang opened #26 "can't 'make' correctly. error: use of undeclared identifier 'CLOCK_REALTIME' / 'pow10'"
I pull the commit '876d844', and make under ./vmaf , I got the error msg as:

------------------------------------------
cd ptools; /Applications/Xcode.app/Contents/Developer/usr/bin/make libptools.so; cd ..;
g++ -Wall -Wextra -fpic -O -fno-strict-aliasing -DLINUX_ -DOC_NEW_STYLE_INCLUDES -Wno-deprecated -I./opencontainers_1_8_4/include -pthread -D_REENTRANT -c m2pythontools.cc
In file included fr

[2016-10-04 18:37] li-zhi commented on #26
@eexyzhang were you building under mac os?

[2016-10-04 18:44] eexyzhang opened #27 "syntax error in ./unittest"
With some errors after 'make' (ticket #26), I tried ./unittest. I got the following errors:

----------------------------------
Etest on running dis YUV raw video extractor...
.test on running dis YUV raw video extractor in parallel (disabled)...
.test on running asset extractor...
..........test on file system result store save and load...
.test on result aggregate scores...
.test on result to/fr

[2016-10-04 19:07] eexyzhang commented on #26
yes. macOS Sierra.

[2016-10-04 20:11] li-zhi commented on #26
I see. I added a new library which I didn't test build under mac. I will try to fix this. In the mean while, feel free to build under linux, where it should work.

[2016-10-05 11:22] pavan4 commented on #20
It is an interesting point.

I worked with different metrics to aggregate the per-frame score into a final score for a piece of study in my dissertation research.

This method performed relatively (from experimental observations in our research) well compared to mean - We aggregated per frame score on a per scene basis (mean) and then selected the mean of all the means over the top 10% of worst pe

[2016-10-05 23:29] li-zhi commented on #26
@eexyzhang Try to pull master and make in Mac. It should work now.

[2016-10-05 23:30] li-zhi commented on #27
@eexyzhang This should be fixed once the make is successful.

[2016-10-05 23:34] li-zhi commented on #24
@fraser-hemp I believe it is both: the source size is very small, and the motion is high. Do you also have the distorted clip to share?

[2016-10-06 02:29] yuhjay commented on #24
@fraser-hemp The motion score here is based on an assumption that the frames are relatively continuous. If neighboring frames are too different, we may want to treat it as a scene cut. I would focus on the single frame score after a scene cut.

[2016-10-06 02:40] cchamchi commented on #26
Thanks @li-zhi
I tested it under OSX El Capitan 10.11.2 and unittest is ok

[2016-10-06 04:22] fraser-hemp commented on #24
@li-zhi here is the dst (yuv, same res): https://drive.google.com/open?id=0B_mWxBuwYcSgX2dqdnduYmdTLUk

[2016-10-06 04:25] fraser-hemp commented on #24
@li-zhi In your training dataset, did you have any videos with motion > 40?

[2016-10-06 09:03] KuntzeM opened #29 "make - compile error cannot find -lptools"
Hi,
if I want to compile this script with make, I get an error:

Which libary is missing on my linux machine?

Thank your for your help!

regards
Mathias

[2016-10-06 09:55] KuntzeM commented on #29
edit:
now I found the lib ptools.
if the make command want to compile it, then I get the follow error message:

Makefile:67 is:

[2016-10-06 15:16] li-zhi commented on #29
Hi Mathias, which Linux distribution and version are you using?

[2016-10-06 21:20] eexyzhang commented on #26
I tested on macOS Sierra, it works now. Thanks!

[2016-10-06 21:21] eexyzhang commented on #27
You are right. The unittest passes successfully now. Thanks!

[2016-10-06 23:44] #27 closed

[2016-10-06 23:44] #26 closed

[2016-10-07 08:32] KuntzeM commented on #29
I'm using Fedora version 24.

[2016-10-07 23:41] li-zhi commented on #29
@KuntzeM Please pull master and try again. It should now work on Fedora.

[2016-10-08 18:54] leandromoreira opened #32 "Adds Docker support for other executables"
Such as:
  *  run_vmaf
  *  run_cleaning_cache
  *  run_vmaf_training
  *  run_vmaf_in_batch
  *  run_testing
  *  run_psnr
  *  vmafossexec

[2016-10-09 03:59] #32 closed

[2016-10-10 16:31] li-zhi commented on #20
@pavan4 Thanks for the recommendation. Your method is similar to a percentile-based pooling, where the aggregate score is taken at say 10-percentile of the distribution. Personally I also find this type of approaches more robust than merely taking the mean.

[2016-10-11 16:05] mrebersv opened #35 "Only a small amount of frame scores are reported"
Whenever I do a ./run_vmaf on an original source and transcoded output, I only get a small subset of frames reported.  For example, using a video trailer and a transcoded version with 4496 frames each (verified with ffprobe) at the same geometry and framerate, only 34 frames are reported from the run_vmaf command.

Does VMAF simply sample spots of a video or should this not be happening?

[2016-10-11 16:13] li-zhi commented on #35
This should not be happening. All per-frame scores should be reported. I suspect that you are inputing the encoded video rather than the raw YUVs (since you mentioned ffprobe). Is it the case?

[2016-10-11 16:30] mrebersv commented on #35
I am supplying full transport streams.  Should this not be the case?  And if not, any idea why it can still get 33 frames in before it quits?

[2016-10-11 16:35] li-zhi commented on #35
Then it is compressed. You need to first decode the transport streams into YUV files, before passing them to VMAF. Refer to http://stackoverflow.com/questions/20609760/convert-h264-video-to-raw-yuv-format

[2016-10-11 16:36] mrebersv commented on #35
Thank you.  Sorry about erroneously reporting an issue.  You can consider this closed, though any idea why it still got through 33 frames?

[2016-10-11 16:41] li-zhi commented on #35
Because the VMAF executable will just treat the input files as raw YUVs (there is no header for YUV, everything is just raw pixels). It reads 33 'frames' until the end of file. The reported scores, of course, are just garbage.

[2016-10-11 16:45] mrebersv commented on #35
Thanks for the help!  Sorry to bug you.

[2016-10-11 16:47] li-zhi commented on #35
Don't worry about it:)

[2016-10-11 16:48] #35 closed

[2016-10-12 13:09] KuntzeM commented on #29
thank you it works!

[2016-10-12 13:09] #29 closed

[2016-10-13 04:02] fraser-hemp commented on #24
@li-zhi I believe it was due to an error in my command line arguments, as I am now getting more appropriate values on these videos. Feel free to close this issue :)

[2016-10-13 04:31] #24 closed

[2016-10-13 04:31] #22 closed

[2016-10-13 04:47] li-zhi commented on #24
No problem:)

[2016-10-14 04:42] li-zhi opened #36 "SSIM and MS-SSIM sometimes generate negative values."
zli@zhi-ubuntu14-vm:~/Projects/stash/MCE/transcoder/vmaf_oss/vmaf/feature$ ./ssim yuv420p /home/zli/Desktop/debug_ssim/AttackOnTitan_1026_2.yuv /home/zli/Desktop/debug_ssim/AttackOnTitan_5v_1026_2.yuv 1920 1080
ssim: 0 -0.016983
ssim_l: 0 -0.046559
ssim_c: 0 0.665225
ssim_s: 0 0.508533
ssim: 1 -0.018055
ssim_l: 1 -0.046968
ssim_c: 1 0.664024
ssim_s: 1 0.508169

[2016-10-14 06:05] yuhjay commented on #36
I think this is related to the c1 and c2 constants in the model. they are created to avoid divided by zero. However, these values only happens to corner case. (very special videos created by purpose). I am not sure why animation cause such problem.

[2016-10-14 09:33] li-zhi commented on #36
@yuhjay We've found the root cause and is working on a solution.

[2016-10-14 16:54] rbultje commented on #21
Hi Zhi, I just tried testing your model, and I think I'm doing something wrong. Here's what I get with the 1.1.6 release:

[code]

And here's what I get with your model:

[code]

This is git hash d13611cd859ba267ca0e6f36cb19e55483fc04b2. What should I do to use your model?

Thanks,
Ronald

[2016-10-14 18:12] rbultje commented on #21
Hi Zhi,

OK, I quickly tested your modified model, and it looks like the results didn't really change very much to what they were before, i.e. I'm still seeing the issue where side-by-side gives an optimal delta-qidx of near-zero, whereas the 2-frame version gives an optimal delta-qidx of -30 or so. I can provide graphs if that helps.

Thanks,
Ronald

[2016-10-14 23:40] li-zhi commented on #21
Hi Ronald,

The fixes in the new release wasn't meant to address this issue. I was
overloaded by other things over the past two weeks. And I promise to start
investigating this once I have time.

Best,
Zhi

On Saturday, October 15, 2016, Ronald S. Bultje <notifications@github.com>
wrote:

[2016-10-17 03:49] #36 closed

[2016-10-19 04:49] prateekpatelsc commented on #9
Hi Can you tell what versions are you using that solves the problem. I am running into same issue. Thanks

[2016-10-19 04:55] li-zhi commented on #9
@prateekpatelsc If you run:
python -c 'import sklearn as pkg; print pkg.__version__; print pkg.__file__'
You should get version number 0.18.

[2016-10-19 05:05] prateekpatelsc commented on #9
i am actually using the latest version (0.18 for scikit-learn)  on a docker image and running into the key_error : max_depth:
RUN pip install pandas==0.19.0
RUN pip install numpy==1.11.2
RUN pip install scipy==0.18.1
RUN pip install sklearn_pandas
RUN pip install scikit-learn==0.18.0

Are these the correct versions ?

[2016-10-19 12:48] leandromoreira opened #38 "Change compute_psnr function signature"
While I was browsing through the code I could see how `compute_psnr` works:
[code]

Since `ret` is always zero, I  was wondering if we could change this function to return the score itself or is it a code convention?

I found that these files were referring to `compute_psnr` function.

[code]

[2016-10-20 08:02] li-zhi commented on #38
@leandromoreira: I prefer to keep it that we for uniformity across all the compute_xxx functions. It is also a placeholder for any possible error code that can be returned.

[2016-10-20 11:23] leandromoreira commented on #38
Thank you, I agree.

[2016-10-20 11:23] #38 closed

[2016-11-08 17:14] rbultje commented on #20
<img width="1133" alt="screen shot 2016-11-08 at 12 08 44 pm" src="https://cloud.githubusercontent.com/assets/283893/20109004/32ec4732-a5ac-11e6-8206-b0540d56e978.png">

Here's an example of what I get (this is otherwise the same experiment as the third chart in my original post) when using harmonic_mean instead of mean for averaging. What's most significant is the reduction in wide variation at t

[2016-11-10 01:18] li-zhi commented on #20
@rbultje: I intend to keep the interface for run_vmaf.py simple for basic usage. It is actually quite easy to regenerate results using multiple pooling mechanisms by just running once, since the per-frame scores are given. The exact formula for harmonic_mean and other methods can be found at:
https://github.com/Netflix/vmaf/blob/master/python/tools/stats.py

[2016-11-15 23:24] tdaede opened #42 "Refactor feature tools to share CLI & video input"
Adding y4m support is ending up a complex undertaking because there is a lot of duplicate code in both <feature>.c and <feature>_main.c files for reading yuv files and parsing the CLI. It would be a lot nicer to refactor all of this duplicate code into one place.

One place to start would be to drop the individual binaries and always use the main vmaf binary. Are the individual ones needed for any

[2016-11-15 23:56] li-zhi commented on #42
@tdaede : I believe there are 6 executables that existed for sorts of different reasons (some are historic and some are not):
feature/moment
feature/ms_ssim
feature/psnr
feature/ssim
feature/vmaf
wrapper/vmafossexec

The duplicate code you are referring to I believe are those residing in xxx.c/xxx(.) where xxx is moment, psnr, ssim, .... The refactoring of these code has sit on my to-do list for t

[2016-11-16 00:14] li-zhi commented on #42
@tdaede : now I see that your main issue is that for y4m input, you want to change the interface such that you don't need to input width, height or yuv format. That's why these _main.c files matters.

I am actually wondering if there is a light-weight solution for your integration into AWCY. Is it possible to 1) pre-read the header of the y4m file to get the width and height and etc, and 2) create

[2016-11-16 00:50] tdaede commented on #42
Yeah, you can refactor first.

Piping is a good idea - I didn't realize that vmafossexec did all of the metrics in one pass (in combo.c), which is why I thought piping wouldn't work. The In fact vmafossexec is much easier to modify for y4m than the Python one, I probably should have started with it first.

The process overhead isn't a concern for AWCY, so I'll look at the pipe method first.

[2016-11-16 16:14] li-zhi commented on #42
@tdaede : since the refactoring is non-blocker for the pipe method, I will prioritize other things first. Please go ahead and try the pipe method, and let me know if you need anything else.

[2016-11-17 06:01] hopingjuly opened #43 "which tool do you use to convert video into .yuv file?"
which tool do you use to convert video into .yuv file?

[2016-11-17 17:55] li-zhi commented on #43
You can use ffmpeg:
ffmpeg -i video.mp4 -c:v rawvideo -pix_fmt yuv420p out.yuv

Hope this helps.

[2016-11-18 08:30] hopingjuly commented on #43
thank you very much

[2016-11-18 10:06] hopingjuly commented on #43
reference_path is often a .ts file ,but distorted_path is stream in the video system . In this scenario ,how to get .yuv file ?

[2016-11-18 23:22] li-zhi commented on #43
ffmpeg can read .ts file as input as well.

I am not sure what format your distorted_path is. To start with, you probably need to download the stream to local disk before calling ffmpeg.

[2016-11-22 09:34] hopingjuly commented on #43
mainly  http & rstp stream

[2016-11-24 07:22] Foxshiver opened #44 "How can we use the cross validation ?"
I would like to use the cross validation, but there is no command ./run_vmaf_cv available. Is this a future feature or am I doing something wrong?

[2016-11-24 12:56] #44 closed

[2016-12-02 21:57] li-zhi opened #45 "Speed up feature calculation by AVX"

[2016-12-05 23:41] li-zhi opened #46 "Speed up vmafossexec by multi-threading"

[2016-12-06 00:11] #45 closed

[2016-12-07 21:26] willfinnegan opened #48 "Do reference video and distorted video need to have the same pixel format? If not, which pixel format should be used when running the vmaf script?"

[2016-12-07 21:41] li-zhi commented on #48
@willfinnegan yes they need to be the same pixel format. You can easily convert between formats using ffmpeg.

[2016-12-07 21:42] #43 closed

[2016-12-07 21:48] willfinnegan commented on #48
My reference is yuv422p10le and my distorted video is yuv420p. I was considering converting the source file to yuv420p but the codec for that file (prores) doesn't seem to support that format. Is there some way to get around this issue without transcoding the reference file from prores to h264?

[2016-12-07 22:53] li-zhi commented on #48
Shouldn't ffmpeg automatically recognize prores and find the decoder? I found some discussion on ffmpeg producing prores output at:
https://trac.ffmpeg.org/wiki/Encode/VFX
But should ffmpeg taking prores input be straightforward?

[2016-12-07 23:10] willfinnegan commented on #48
Sorry my comment was worded poorly.

My source file is prores (yuv422p10le). My distorted file is h264 (yuv420p). I figured that the prores source file would be the better one to convert because going from yuv422p10le to yuv420p seems like a logical progression. However, when I went to convert my prores file to yuv420p using the  ffmpeg command '-pix_fmt yuv420p', the output file remained yuv422p1

[2016-12-07 23:19] li-zhi commented on #48
It shouldn't be prores' responsibility to support yuv420p, but ffmpeg's. Can you show me the ffmpeg command line you were using?

[2016-12-07 23:21] haiqianw commented on #48
Please try this command
`ffmpeg -i ref.mov -f rawvideo -pix_fmt yuv420p -sws_flags lanczos+accurate_rnd  out.yuv`

[2016-12-07 23:26] willfinnegan commented on #48
Thank you, I will try that command now. For reference I was runnning 'ffmpeg -i input.mov -pix_fmt yuv420p -acodec copy -vcodec prores -profile:v 3 output.mov'

[2016-12-08 16:10] dumenil opened #49 "Error when launching run_testing on version 1.1.16"
Hello,

When we launch the run_testing script for VMAF (./run_testing VMAF dataset.py), we get the following error with new version 1.1.16:
Error: Must have one and only one subclass of QualityRunner with type VMAF, but got 2

It was working fine with the version 1.1.13.

Do you know what could be the problem ?

Thanks!

[2016-12-08 22:35] li-zhi commented on #49
@dumenil I made some changes recently that caused this issue. Please pull the latest master branch for the fix. I've also added a few test cases to make sure this wouldn't happen in the future.

[2016-12-08 23:55] willfinnegan commented on #48
I did try using the command: `ffmpeg -i ref.mov -f rawvideo -pix_fmt yuv420p -sws_flags lanczos+accurate_rnd out.yuv`

Using that file as my source, I got these results when running VMAF:
`    "aggregate": {
        "VMAF_feature_adm2_score": 0.41968884603064227,
        "VMAF_feature_motion_score": 2.8595670480427042,
        "VMAF_feature_vif_scale0_score": 0.022593293860438287,
        "VMAF_fe

[2016-12-09 00:21] li-zhi commented on #48
@willfinnegan These numbers doesn't seem to be correct. Very likely the yuv420p files are misaligned. Have you looked at the size of the files to see if they match? Also, try using players like vooya to play the YUV files.

[2016-12-09 00:43] haiqianw commented on #48
@willfinnegan If the distorted videos were converted from yuv422p10le to yuv420p with other subsampling method, there may be some problems. Because the new yuv420p source may not be the "real source" of those encodes. `-sws_flags lanczos+accurate_rnd` was specified here.

One can verify this issue by encoding the new source with the same recipe and compare them with your current encodes

[2016-12-09 01:02] willfinnegan commented on #48
@haiqianw I think that may be the case. I am going to re-encode the distorted videos from the new yuv420p source and then run again. Thanks

[2016-12-09 08:48] dumenil commented on #49
thanks a lot li-zhi. it works now :)

[2016-12-09 08:48] #49 closed

[2016-12-12 18:39] willfinnegan commented on #48
I have an update on this:

I used @haiqianw command to create a rawvideo yuv420p source. However, when attempting to create a set of distorted videos from this source using FFMPEG, I received the error message:

`[IMGUTILS @ 0x7fff59d4eab0] Picture size 0x0 is invalid`

I also attempted to use my YUV422p10le source as is and avoid converting my distorted videos to YUV420p, but ffmpeg returned this

[2016-12-15 01:24] willfinnegan commented on #48
I did get the rawvideo, YUV420p source to work by specifying the frame size and frame rate before the input. I created 3, h264 distorted videos from that YUV420p source. However, when I ran vmaf on the distorted h264 files, it still resulted in an unusually low vmaf score of 1.3.

[2016-12-15 01:30] li-zhi commented on #48
Is it possible to share the yuv files you have?

On Wed, Dec 14, 2016 at 5:24 PM Will Finnegan p<notifications@github.com>
wrote:

[2016-12-15 23:00] willfinnegan commented on #48
@li-zhi The file size is quite large (300GB+)

[2016-12-29 01:21] kingchenchina opened #54 "make error: /usr/bin/ld: cannot find -lptools"
ptools folder is the project's folder, it is always there.
error information:
/wrapper/obj/main.o /home/cqy/vmaf/wrapper/obj/pugixml.o -L/home/cqy/vmaf/wrapper/../ptools  -lm -lpthread -lptools -Wl,-rpath=/home/cqy/vmaf/wrapper/../ptools
/usr/bin/ld: cannot find -lptools
collect2: error: ld returned 1 exit status
make[1]: *** [vmafossexec] Error 1

anyone can help?

[2016-12-30 23:22] cosmin commented on #48
@willfinnegan the only thing VMAF will currently accept as input is raw YUV files. You can't pass it in H264 files, or Prores or anything else really. The problem is that when you run VMAF on any other file type, it won't know that the file you gave it is invalid, and it will happily read bytes as if it was an YUV video file. Therefore you'll get garbage results like scores of 1.3.

The other indi

[2017-01-02 06:22] cosmin commented on #54
What platform are you attempting to compile this on? The latest version builds for me on OS X as well as on Ubuntu 16.04 without any issues. I suspect there's something related to your build environment but it's hard to tell without more information.

[2017-01-02 06:32] cosmin opened #55 "Add support for reading videos with ffmpeg/libav?"
At the moment videos have to be read in raw YUV format, which requires creating huge intermediary files when attempting to compare the output of different encodes. It would be extremely more useful to be able to read encoded H264/VP9/H265,etc. video directly, without having to decode to disk for every video file to compare.

This can be done with`ffmpeg` or `libav`, but doing so at the moment woul

[2017-01-02 11:26] li-zhi commented on #55
Hi Cosmin,

This should be already supported in the latest master branch. I haven't
advertised it since it may confuse beginners. But since you asked, I will
put up an instruction in the README file.

Here is what you need to do:
Before you run, you will need to specify the path to your ffmpeg executable
under [root]/python/externals.py (create the file and add a line like
FFMPEG_PATH = [path to f

[2017-01-02 14:17] li-zhi commented on #55
I think I mistook ffmpeg decoding with something else (scaling, cropping).
At this moment, to make the interface of VMAF simple, the best way is to
pipe ffmpeg with VMAF externally.

I will provide an example how this can be done.

On Mon, Jan 2, 2017 at 8:26 PM Zhi Li <zli@netflix.com> wrote:

[2017-01-02 17:39] cosmin commented on #55
Yes, I looked through the code and saw the references for using ffmpeg for crop/scale but nothing for decoding/demuxing. Any examples of how to accomplish this would be greatly appreciated.

[2017-01-04 00:22] willfinnegan commented on #48
@cosmin Thanks for the information!

[2017-01-06 19:14] li-zhi commented on #55
@cosmin: I've added a shell script to pipe ffmpeg with vmaf at:
https://github.com/Netflix/vmaf/blob/master/ffmpeg2vmaf

Try if this one works for you. Note that the width and height in the command line arguments are NOT the width and height of the input video, but the width and height to scale the input video to, such that the VMAF calculation is done at that scale. Refer to the first question at

[2017-01-12 04:49] cosmin commented on #55
@li-zhi thanks, this is a good starting point. I'll close this issue and open up a new issue with some improvements to the script. The current one must be run from within the VMAF checkout, and it uses hardcoded paths for the named pipes which prevents it from being used concurrently for multiple comparisons. Thanks again, this will make it much easier for me to use VMAF.

[2017-01-12 04:49] #55 closed

[2017-01-12 16:20] li-zhi commented on #55
Right. There is some logic to create the pipe names dynamically in python.
Here unfortunately you will have to redo it in shell script.

On Wed, Jan 11, 2017 at 8:49 PM Cosmin Stejerean <notifications@github.com>
wrote:

[2017-01-12 16:27] li-zhi commented on #55
If you could, please create a PR to update the same file. Thanks!

On Thu, Jan 12, 2017 at 8:20 AM Zhi Li <zli@netflix.com> wrote:

[2017-01-16 03:09] kingchenchina commented on #54
thank you, cosmin.
it should be the line ending character issue. clone the source in windows platform, and transfer it to ubuntu, it throws this error. finally, i clone the source directly in ubuntu and it works.

[2017-01-16 03:09] #54 closed

[2017-01-23 16:26] li-zhi commented on #55
@cosmin I updated the ffmpeg2vmaf script to using python. It now supports dynamically generated working directories, and thus is thread-safe.

[2017-01-23 20:32] tdaede opened #56 "Saturating score and BD-Rate calculation"
Sometimes depending on content I will generate two points that hit the 99-100 score range, meaning visually lossless. This behavior is mostly fine, but problematic for generating BD-Rate because the cubic fit will have a negative slope. It's pretty frequent on AWCY on a couple of "easy" clips, see for example:

https://arewecompressedyet.com/?job=fix1_pvq_with_daala_dist_30f%402017-01-20T21%3A03%3

[2017-01-24 00:09] ethanjyx opened #57 "unittest failure -- FAIL: test_to_json"
Hey there, after I ran make I wanted to run unittest to verify the result, but it does not seem to be working. Here is the trace:

[code]

Does anyone know why?

[2017-01-24 00:35] li-zhi commented on #57
More info please. Is this the only test that fails?

[2017-01-24 00:40] ethanjyx commented on #57
Right all the previous ones have passed. What other info do you need? I am running on mac os with python 2.7

[2017-01-24 01:08] li-zhi commented on #57
Ok. In this case you can probably ignore the error. If you look into the error message, it fails because there is some tiny numeric difference, e.g. 0.9358023333333333 vs. 0.93580233333333329.

[2017-01-24 19:10] li-zhi commented on #56
@tdaede yes, forcing the curve to be monotonically non-decreasing will be a way to handle it.

But I want to get into more details about this case. I followed the link, but is there a way for me to download the videos so that I can reproduce the behavior locally?

[2017-01-24 19:13] li-zhi commented on #42
@tdaede not sure if you have done this, but now
https://github.com/Netflix/vmaf/blob/master/python/ffmpeg2vmaf.py
should give what you requested.

[2017-01-27 21:27] ethanjyx commented on #57
Sounds like a bug. Should use delta difference when comparing floats.

[2017-01-27 21:42] li-zhi commented on #57
The main purpose of this test is to test the json output method. Other tests should already cover numeric results. I could think of a more atomic way to test json...

[2017-01-31 00:18] tdaede commented on #42
I did something very similar, with a y4m2yuv tool and pipes:

https://github.com/xiph/daala/blob/master/tools/y4m2yuv.c
https://github.com/tdaede/rd_tool/blob/master/metrics_gather.sh#L249

I might still like to write native support at some point, but this suffices for now.

[2017-01-31 04:32] stevescia opened #58 "VMAF OpenSuse installation - unittest errors"
Hello; i have installed VMAF on an OpenSuse server (version 13.1);  I am seeing errors when running the unittest suite as described in the Readme @ github.com/Netflix/VMAF .

some score assertions have differences up to 4 places.  for example:
FAIL: test_all (feature_test.FeatureTestYuv422p10le)
----------------------------------------------------------------------
Traceback (most recent call last

[2017-02-01 07:42] leslie-wang opened #59 "support more metrics"
Seems like the more metrics, the more accurate result may get. If that is true, do you have any plan to add more metrics? for example http://vq.kt.agh.edu.pl//metrics.html has 15 more metrics.

[2017-02-01 08:10] yuhjay commented on #59
Not exactly. Bad metrics would harm the accuracy. You are welcome to mix those and see if getting better. I guess those might not help to deal with compression artifacts.

Sent from my iPhone

[2017-02-13 18:08] leslie-wang commented on #57
got similar failure at 1.1.6 release at Mac OS. Below is the failure. Seems like it is better beautify error output. :-)

[2017-02-15 06:51] leslie-wang opened #60 "ansnr ??== PSNR-HVS && ADM ??== DLM"
Is ansnr in the source code equal to PSNR-HVS referred in blog? Also is ADM equal to DLM method?

Seems like both ansnr and motion feature is not used in VmafFeatureExtractor. From blog, seems like motion should be used. right?

[2017-02-15 07:38] li-zhi commented on #60
@leslie-wang Long answer short, ADM and DLM are terms refer to the same elementary metric. And no, ANSNR and PSNR-HVS are different. ANSNR was used in older version of VMAF but subsequently abandoned.

[2017-02-15 17:18] leslie-wang commented on #60
thanks for the reply. it is clear for me. I'll close the issue.

[2017-02-15 17:18] #60 closed

[2017-02-21 11:40] tjtjtjtj-tw opened #62 "Does anyone successfully build VMAF in Cygwin ? ld: cannot find -lptools"
I tried to build it in Cygwin latest version.
All the targets except "wrapper" directory compiled successfully.

That is, vmaf-master/wrapper/Makefile doesn't seem to work in Cygwin.
I added "-D_GNU_SOURCE" to CXXFLAGS in Makefile to let several C++ source file compile successfully.
ld.exe complained "cannot find -lptools" and the linking was not successful.

Does anyone know how to make it right?

[2017-02-22 00:00] li-zhi commented on #57
@ethanjyx @leslie-wang I put some changes to the master branch, which should fix this issue. Would you like to try out to see if it works?

[2017-02-22 00:03] li-zhi commented on #62
@tjtjtjtj-tw If you look carefully, it might be that the building of the ptools library failed. Would you like to cd to ptools dir and see if you can make it successfully there?

[2017-02-22 00:05] #46 closed

[2017-02-22 00:06] #42 closed

[2017-02-22 00:08] #48 closed

[2017-02-22 04:49] tjtjtjtj-tw commented on #62
Dear li-zhi,

I see there is a libptools.so successfully built.
ptool directory is built using Makefile.VMAF.

So... am I wrong with something?
I don't know if Cygwin + Makefile.VMAF in ptool directory is supposed to be used or not.

Thank you.

[2017-02-22 18:56] tjtjtjtj-tw commented on #62
The error message from make is:
========================================
make[1]: Entering directory '/home/tjtjtjtj/vmaf-master/wrapper'
g++ -o vmafossexec  /home/tjtjtjtj/vmaf-master/wrapper/obj/alloc.o /home/tjtjtjtj/vmaf-master/wrapper/obj/file_io.o /home/tjtjtjtj/vmaf-master/wrapper/obj/cpu.o /home/tjtjtjtj/vmaf-master/wrapper/obj/convolution.o /home/tjtjtjtj/vmaf-master/wrapper/obj/convoluti

[2017-02-22 19:02] cosmin commented on #62
If I remember correctly someone had a similar issue with lptools on Linux that ended up being caused by Windows style line endings (based on how they cloned the repo). Since you are having a similar issue on Cygwin I wonder if this is a similar issue. Can you try to run dos2unix on the entire checkout? (Or change your git settings to preserve the original line endings). I wonder if that would make

[2017-02-23 07:23] tjtjtjtj-tw commented on #62
@cosmin
I tried to dos2unix everything hierarchically under vmaf-master/ptool as well as vmaf-master/wrapper, and this doesn't make any difference.
The problem remains.
However, thank you anyway.

[2017-02-24 02:02] li-zhi commented on #58
@stevescia I was able to run VMAF with all test cases passed. Let me share with you my system info:

zli@linux-sbkq:~>  cat /etc/SuSE-release
openSUSE 13.1 (x86_64)
VERSION = 13.1
CODENAME = Bottle

zli@linux-sbkq:~> uname -a

Linux linux-sbkq 3.11.6-4-desktop #1 SMP PREEMPT Wed Oct 30 18:04:56 UTC 2013 (e6d4a27) x86_64 x86_64 x86_64 GNU/Linux

zli@linux-sbkq:~/Projects/public/vmaf> python -c 'imp

[2017-02-24 02:22] li-zhi commented on #62
@tjtjtjtj-tw It's probably related to wrapper/Makefile. I have this switch:

vmafossexec: $(OBJS)
ifeq ($(shell uname),Darwin)
	$(CXX) -o $@ $(LDFLAGS) $^ -L$(PTOOLSDIR) $(LIBS) -Wl
else
	$(CXX) -o $@ $(LDFLAGS) $^ -L$(PTOOLSDIR) $(LIBS) -Wl,-rpath=$(PTOOLSDIR)
endif

It detects the OS version (Darwin is for mac os) and run differently to build vmafossexec. I don't know what's the correct way for

[2017-02-24 05:47] leslie-wang commented on #57
I downloaded the zip file of master branch. Here is the info:

same result as below:

AssertionError: '{\n    "executorId": "SSIM_V1.0", \n    "asset": {\n        "identifier": "test_0_0_checkerboard_1920_1080_10_3_0_0_1920x1080_vs_checkerboard_1920_1080_10_3_1_0_1920x1080_q_1920x1080"\n    }, \n    "frames": [\n        {\n            "frameNum": 0, \n            "SSIM_feature_ssim_c_score": 0.997

[2017-02-24 06:12] leslie-wang commented on #57
same failure result even if I clone latest master branch.

[2017-02-25 04:51] leslie-wang opened #63 "print start/end time for run_vmf_training"
Training usually takes longer time. Suggest to print start/end time in the code as well as total consuming time. It would be very helpful.

[2017-02-25 05:48] leslie-wang opened #64 "different training model parameter data"
I'm using Netflix public data and using below commands to train model parameters

But I got different parameter by comparing with all files under resource/model. Also if I use new trained model and got different scores by running

This should be understandable because of different trained parameters. So can we list out which dataset are used to training each model files under resource/model?

[2017-02-25 16:44] li-zhi commented on #64
Unfortunately we cannot share the dataset used to train these models since
they contain video clips that are copyright protected.

On Fri, Feb 24, 2017 at 9:48 PM leslie-wang <notifications@github.com>
wrote:

[2017-02-25 20:47] figgis opened #65 "Batch json not parsable"
Trying to open the generated json data after batch processing

Using:
 ./run_vmaf_in_batch run.batch --out-fmt json --parallelize > data.json

[code]

[2017-02-28 00:09] #64 closed

[2017-03-01 10:07] tjtjtjtj-tw commented on #62
The settings for Mac doesn't work correctly in Cygwin.
The problem remains.

[2017-03-02 03:27] tjtjtjtj-tw commented on #62
@li-zhi @cosmin
Dear all,

I do a modification for Makefile in ptool directory for Cygwin.
The libptools is supposed to be a shared library (libptools.so in Linux and libptools.dylib in Mac OS) originally .
I added one line to create a static library "libptools.a".
Then the vmafossexec.exe is successfully created. (However it is a 6737898-byte executable. XD )

Change from:
=======Original Makefil

[2017-03-02 03:41] tjtjtjtj-tw commented on #62
I am not an expert in makefile writing so it is kind if anyone familiar with it can commit the modification for Cygwin properly.

I summarize the change need to be applied to let vmaf be created successfully in Cygwin :
1. Add "-D_GNU_SOURCE" to CXXFLAGS in _vmaf-master/wrapper/Makefile_ to let several C++ source file compile successfully.
2. Add "ar rcs libptools.a $(COM_OBJS)" in _vmaf-master/pt

[2017-03-02 06:10] li-zhi commented on #62
@tjtjtjtj-tw Thanks for the suggestion. Please keep this thread open so that I (or someone else) could pick it up later.

[2017-03-15 21:57] ethanjyx opened #73 "What are the options to print ms-ssim values when running `run_vmaf`?"
I heard we can print ms-ssim values while running `run_vmaf`, is it true? How can I enable it?  Did not find documentation when running `./run_vmaf --help`.

[code]

[2017-03-15 22:00] li-zhi commented on #73
Try wrapper/vmafossexec

[2017-03-15 22:56] ethanjyx commented on #73
Thank you Zhi. However, after giving a try, I am getting an error message below:
[code]

Here is my command:
`./vmafossexec yuv420p 768 512 ~/Documents/vp9_encode/raw/grouplove265_6k_768x512.yuv ~/Documents/vp9_encode/libvpx_samples/grouplove265_6k_768x512.mp4crf28.yuv --phone-model --ms-ssim`
Am I using this right?

[2017-03-16 05:44] li-zhi commented on #73
You would need to add path to the model file, as in:
[code]

[2017-03-28 09:02] nandakd opened #74 "Resolution, display height and quality metric"
Hello!
I read the FAQ note describing why a 480p video has much higher VMAF scores. What you're saying is VMAF treats the 1080p display at 3H viewing distance as the standard for computing a quality score. Assuming display size directly proportional to display resolution, if we now use a 480p display, the quality scores should be computed with a viewing distance that is closer, not farther away, b

[2017-03-31 22:46] ShuaiZhao opened #75 "Unittest Error"
Hi All,

I run into some errors when do unittest.
I am using OSX 10.11.6. g++ has been upgrade to 4.8.1

[  3:42PM ]  [ jack@jacksmb15retina:~/NetFlix/vmaf(master✗) ]
 $ g++ --version
g++-4.8 (Homebrew GCC 4.8.5) 4.8.5
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A

[2017-04-14 02:32] mht13 commented on #74
But shouldn't the approach be to just take into account the viewing distance as opposed to the two suggestions of upscaling, which is in fact later mentioned that it can lead to inaccurate results since the model was not tested for upscaled files?.

Incidentally, why a distance of 3H? I understand that a number has to be used consistently in the perceptual tests to train the model but any particul

[2017-04-14 02:48] mht13 opened #76 "VMAM between reference and itself not 1?"
Hi,
I have noticed in multiple cases that when comparing the reference file with itself the score is not 100. Sometimes it can be 99.99 but in other cases, say, 98.7, or 99.2, while SSIM in all cases gives exactly 1. So shouldn't VMAF give exactly 100 in those cases? If not, is that related to the perceptual component in the data fusion? And if so, would that be some rough level of uncertainty bet

[2017-04-14 04:33] JohnhqWang commented on #74
Hi guys,

Given that a video was displayed without scaling and the distance of two displayed is a constant for different monitors, the optimal viewing distance is fixed **regardless** of its native resolution, i.e. no matter it's 1080p or 480p. The reason could be found at [ITU-R BT 2022](https://www.itu.int/dms_pubrec/itu-r/rec/bt/R-REC-BT.2022-0-201208-I!!PDF-E.pdf), section 1.3.2

Table 1 also

[2017-04-14 09:13] mht13 commented on #74
I am quite confused about what was exactly used for training the VMAF as provided by default.

On one hand, there are those two suggestions in the FAQ to upscale, which I would agree that should give different qualities as mentioned in the above post. On the other hand the above post mentions that artifacts *came in* when 480p were upscaled. So while the answer in the FAQ suggests upscaling, the o

[2017-04-14 15:26] yuhjay commented on #74
Hi mht13,

VMAF is designed for simulating how people perceive video quality when watching it on TVs/mobile devices. You will not change your monitor size because your player will upscale your video to fit your monitor size. Thus, resolution is irrelevant. You may want to check what is "adaptive streaming". Assuming the mezzanines are perfect, compression and upscaling are two main artifacts will

[2017-04-14 16:37] nandakd commented on #74
Joe - thanks. This sentence from the FAQ is specifically confusing.

This seems wrong - for a 480 resolution video pair, VMAF should certainly not be assigning higher quality scores. Instead, bullet point #2 in the FAQ is the only methodology - upsample both reference/distorted to 1080p, which is the display resolution. Yes, this means that the reference is no longer pristine and interpolation art

[2017-04-14 16:53] yuhjay commented on #74
Hi nandakd,

Not exactly. The FAQ you quoted seems fine to me. The intention of bullet#1 is to describe an exceptional case for its model. Either you upscale both to 1080P or you may see strange numbers. I guess this is what Zhi want to explain.

Joe

[2017-04-14 17:50] li-zhi commented on #76
Hi @mht13 : you are right. VMAF doesn't guarantee that you get a perfect score in this case, but you should get a score close enough. Similar thing happens to many of these machine learning-based predictors (another example is VQM-VFD).

We are also trying to add a confidence interval to VMAF's prediction. If you have any ideas, please let us know.

vmaf_feature_motion does have an impact on the s

[2017-04-14 18:53] JohnhqWang commented on #74
Hi mht13,

I am not in this project but I happen to know the viewing distance issue.

1. First, let's clarify that H (1080p) and H' (480p) refer to **active picture height**, not monitor height. The recommended viewing distance for them are ~3H and 7H, respectively. Actually, 3*H(1080) = 6.75*H'(480) and it comply with ITU 2022, so the quoted bullet is fine @nandakd .

2. Second, according to the

[2017-04-14 20:41] mht13 commented on #74
Guys, thanks so much! This makes perfect sense to me now.

I was unaware that the intent was to use the full screen (of either a TV or a mobile) and then I guess it is natural to assume that the TV is 1080p these days (or 4k) and then the need to upscale. I was thinking that perhaps the metric had been trained using displays showing native resolution (say, if I stream 480p on a computer screen und

[2017-04-16 01:10] mht13 commented on #76
Hi @li-zhi

What follows is an extremely rough suggestion.

Ideally I'd like to see a rigorous uncertainty quantification approach, but that is technically somewhat non-trivial. I have some expertise on this so if you are interested we can chat about it and perhaps do something together.

The other, way simpler, thing that I would do is the following. You are getting a PDF using data fusion and SV

[2017-04-16 18:32] li-zhi commented on #76
@mht13 thanks for for the comments and suggestions. I have several questions:

1) When you suggested multimodal analysis, did you have in mind binning the scores into five bins 1, 2, ... 5? I am not sure if this is appropriate since we collected continuous scores within [1, 5]. But the very issue of continuous score vs. discrete score is up to debate.

2) The suggested KDE approach is interesting.

[2017-04-16 19:15] li-zhi commented on #74
@JohnhqWang @yuhjay Thanks for chiming in with the clarification. I just wanted to add a few more points.

@mht13 : regarding the Arxiv paper, please do not consider it as a main reference of VMAF. It is only to address one specific aspect, which is how to extract high-quality subjective scores to be used for VMAF training. Instead, the blogpost should be the main reference.

Perhaps what I missed

[2017-04-16 19:24] mht13 commented on #76
@li-zhi

First off, I run a startup on content adaptive video compression (fastech.io) .There are many answers to these questions in our tech report/white paper. We are redoing many of those experiments and have more data than what was written at the time. Feel free to email me to tiglio@fastech.io

With regards to your questions, these are my thoughts:

1) I am not sure that I understand your que

[2017-04-16 19:35] li-zhi commented on #76
I am confused: shouldn't we have a prediction interval for each VMAF score calculated? Why should this be offline?

[2017-04-16 19:38] mht13 commented on #76
It is done offline anyway (though now there is a possibility of training your own set).

You provide a default metric. That is being done offline. If you would like to have CI online, that is a whole new discussion.

[2017-04-17 00:29] mht13 commented on #76
Let me clarify a little bit this, since I realize I might have been confusing. You are building a model offline anyway, with the expectation (or actual realization) that when people use it online it will be trustful (training vs validation). So you might as well add CI as well within the model. So essentially my suggestion is that you provide error bars with the model, you validate it and that's i

[2017-04-17 06:52] nandakd commented on #74
@li-zhi: Thanks - that makes it clear. Can you confirm that the publicly available Netflix ref-dist pairs and subjective scores were evaluated using scenario a) ?

[2017-04-17 09:02] mht13 commented on #74
Thanks @li-zhi  for all the extra clarifications.

The blogpost cannot be really used as a technical report, though, it is very high level and lacks details. Can we expect some tech report, paper or preprint at some point? It would have preempted all these questions, for example.

The assumption that viewers always upscale to a full 1080p screen seems like a strong one to me.

Are there numbers (p

[2017-04-24 20:43] gauravgupta1 commented on #75
Hi ShuaiZhao,

Here are some suggestions:
1. I see you are using g++ from HomeBrew, can you try installing Apple's command line tools ?
$ g++ --version
g++ supported by Apple's (Xcode) command line tools is:
Apple LLVM version 8.1.0 (clang-802.0.42)
Target: x86_64-apple-darwin16.5.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

2. Can you make sure, your package de

[2017-05-01 12:43] khavishbhundoo opened #78 "Range for VMAF_score"
What is the range for VMAF_score ? .I am particularly interested to know the  best , average and worst range

[2017-05-01 15:29] li-zhi commented on #78
VMAF score ranges from 0 to 100, with 100 being the best quality.

On Mon, May 1, 2017 at 5:43 AM, Khavish Anshudass Bhundoo <
notifications@github.com> wrote:

[2017-05-01 15:33] khavishbhundoo commented on #78
At what quality is the perceived quality loss  unnoticeable ?

[2017-05-01 15:42] li-zhi commented on #78
It really depends on many things. The default VMAF model assumes a 1080 display and a viewing distance of 3x display height.

[2017-05-01 15:45] khavishbhundoo commented on #78
Still you must have a rough idea....like for jpeg you can see that after 95
there is no visual quality gain.

On 1 May 2017 19:42, "Zhi Li" <notifications@github.com> wrote:

[2017-05-01 15:52] li-zhi commented on #78
A rule of thumb I would use is any score >= 90 is deemed good quality. A caveat is on which resolution to compute the scores. See the first question in the FAQ:
https://github.com/Netflix/vmaf/blob/master/FAQ.md

[2017-05-04 10:15] juanpef opened #79 "make error"
I cannot make the project on Ubuntu (gcc (Ubuntu 4.9.4-2ubuntu1~14.04.1) 4.9.4).

I get always the same error:

make[1]: Entering directory `/home/ubuntu/vmaf/ptools'
g++ -pthread -Wall -Wextra -fpic -O -fno-strict-aliasing -DLINUX_ -DOC_NEW_STYLE_INCLUDES -Wno-deprecated -I./opencontainers_1_8_4/include -pthread -D_REENTRANT m2pythontools.o valpython.o midassocket.o valprotocol2.o m2ser.o m2strea

[2017-05-04 15:22] li-zhi commented on #79
It seems there are some character conversion issues, for example:
error: inlining failed in call to always_inline â_mm_cvtss_f32â: target
specific option mismatch
_mm_cvtss_f32 (__m128 __A)

On Thu, May 4, 2017 at 3:16 AM juanpef <notifications@github.com> wrote:

[2017-05-05 07:39] juanpef commented on #79
Thanks. I found the solution here:

http://stackoverflow.com/questions/43128698/inlining-failed-in-call-to-always-inline-mm-mullo-epi32-target-specific-opti

[2017-05-05 07:39] #79 closed

[2017-05-05 07:41] juanpef opened #80 "Exeption import error"
Hi,
I get an import error when run ./run_vmaf:

Traceback (most recent call last):
  File "./run_vmaf", line 8, in <module>
    from vmaf.config import VmafConfig
ImportError: No module named vmaf.config

What could be the problem?

Thanks

[2017-05-05 07:46] juanpef commented on #80
The problem was with the python/src subdirectory to the environment variable PYTHONPATH

[2017-05-05 07:46] #80 closed

[2017-05-05 08:04] juanpef opened #81 "AssertionError"
When I run:

./run_vmaf yuv420p 576 324 python/test/resource/yuv/src01_hrc00_576x324.yuv python/test/resource/yuv/src01_hrc01_576x324.yuv --out-fmt json

I get an AsserionError:

**Illegal instruction
Traceback (most recent call last):
  File "./run_vmaf", line 143, in <module>
    ret = main()
  File "./run_vmaf", line 107, in main
    runner.run()
  File "/home/ubuntu/vmaf/python/src/vmaf/core/e

[2017-05-05 13:13] li-zhi commented on #81
Hi,

If you run:

*/home/ubuntu/vmaf/feature/vmaf all yuv420p
python/test/resource/yuv/src01_hrc00_576x324.yuv
python/test/resource/yuv/src01_hrc01_576x324.yuv 576 324*

*under the same directory, what's the message given to you?*

On Fri, May 5, 2017 at 1:04 AM juanpef <notifications@github.com> wrote:

[2017-05-08 08:27] juanpef commented on #81
Thanks for your answer @li-zhi ,
I have run these instruction getting:
**Illegal instruction**

[2017-05-08 09:12] juanpef commented on #81
Thanks for your answer @li-zhi ,
I have run these instruction getting:
**Illegal instruction**

[2017-05-10 07:52] KuntzeM opened #82 "Progressbar"
Hi,
is it possible to show a progressbar or another status for a single vmaf process? It will be long to finshed one vmaf computation on my computer.

[2017-05-11 08:21] juanpef opened #83 "./unittest error"
I get an error when execute ./unittest:

**AssertionError: Process returned 132, cmd: /home/ubuntu/vmaf/feature/ssim yuv420p /home/ubuntu/vmaf/python/test/resource/yuv/src01_hrc00_576x324.yuv /home/ubuntu/vmaf/python/test/resource/yuv/src01_hrc00_576x324.yuv 576 324 >> /home/ubuntu/vmaf/workspace/workdir/1912e6a0-5fdd-4824-a5ad-d8407b3e5eb4/SSIM_feature_V1.1_522f1dc24a70f694b7b4f7cdbdae1eb3ce2c6b0

[2017-05-15 15:19] li-zhi commented on #83
@juanpef Please paste the output after running the cmd below:

/home/ubuntu/vmaf/feature/ssim yuv420p /home/ubuntu/vmaf/python/test/resource/yuv/src01_hrc00_576x324.yuv /home/ubuntu/vmaf/python/test/resource/yuv/src01_hrc00_576x324.yuv 576 324

[2017-05-19 14:53] ecomte opened #84 "CentOS 7 (or 6.9 in virtualenv)"
Just throwing this out there to see if anybody has been successful in getting this to run in CentOS. I have been attempting in CentOS 6.9, using a virtualenv to maintain Python 2.7 as requirements state. I initially tried through docker and have been unsuccessful in my attempts.
I plan to attempt getting this to run on CentOS 7, but I wanted to throw something out here to see if anyone has evidenc

[2017-05-26 20:31] ecomte commented on #84
Leave a comment

[2017-05-26 20:31] #84 closed

[2017-05-31 15:01] alano17 opened #86 "Live/Interlaced sources"
Hi guys,

I've been playing a bit with the software and I have few questions about it.

The first one, reading the your article, you made a comparison for live sources but I don't see exactly the way you can do it, as you need the sources frame aligned and also yuv files. (unless you record the live streams).

The second question is: mostly all the sources (live and VOD) are interlaced, and in the

[2017-05-31 19:40] madcityrn opened #87 "VMAF output range across several bitrates"
We're attempting to compare VMAF's result across multiple bitrate encodes for a single asset. The original asset is a 29.97fps, 1080 MPEG-2 file and close to CBR (13.5 mbps average bitrate). We first transcode it to an MP4 lossless "reference" using Handbrake. The resultant file is VBR, 720, 24fps, and with an average bitrate of 17.5 mbps. We then use Handbrake to transcode the reference file to 7

[2017-06-01 05:37] #74 closed

[2017-06-06 20:33] li-zhi commented on #87
Hi,

Looks like you are running VMAF on the compressed bitstream, instead of on the raw YUV stream. Two ways you can correct this:
1) decode .mp4 file into YUV (e.g. yuv420p) format and then run VMAF on the raw file.
2) use ffmpeg2vmaf instead of run_vmaf. This allows directly using non-YUV video inputs to VMAF.

By the way, the fact that the original video and the encoded video having different F

[2017-06-07 18:53] ecomte commented on #81
./run_vmaf yuv420p 576 324 /vmaf/python/test/resource/yuv/src01_hrc00_576x324.yuv /vmaf/python/test/resource/yuv/src01_hrc01_576x324.yuv --out-fmt json

Try running that, not sure if that will change things or not; that's just how I've been running it.

[2017-06-22 02:16] lekzeey opened #89 "VMAF score is zero across several frames?"
Is this a bug or is something wrong with the model? I've used both ffmpegvmaf solution and even directly converted the inputs to the raw yuv format and then using run_vmaf but several frames in a row get a score of 0.

Here is a snippet

[code]

This is super weird. If anyone has gotten this error before, please let me know. This is the result of a comparison between the AWS elastic transcoder and

[2017-06-22 05:27] li-zhi commented on #89
One possible cause is that the frames are misaligned. Can you try one thing: replace run_vmaf with run_psnr and report the result?

[2017-06-22 17:15] lekzeey commented on #89
{
            "frameNum": 3149,
            "PSNR_score": 7.505632
        },
        {
            "frameNum": 3150,
            "PSNR_score": 7.534759
        },
        {
            "frameNum": 3151,
            "PSNR_score": 7.542229
        },
        {
            "frameNum": 3152,
            "PSNR_score": 7.541935
        },
        {
            "frameNum": 3153,
            "PSNR_score"

[2017-06-22 17:20] li-zhi commented on #89
You should expect a 'normal' PSNR value in the range of 25 - 45. So this definitely tells it is not a VMAF problem, but rather a problem like frame misalignment.

[2017-06-22 17:52] lekzeey commented on #89
oh ok thanks so much. I'll close this now.

[2017-06-22 17:52] #89 closed

[2017-07-10 19:23] HossamAmer12 opened #91 "VMAF Running Time"
Hello Everyone,

I am using 'run_vmaf' to compare an original video with a distorted video, yet it is really taking long time in the order of minutes.  Is that normal? Is there something that I am missing?

This is my Python code for the vmaf call:

`  sp.call(
      (path_to_vmaf_tool + ' ' + pix_fmt + ' ' + width + ' ' + ' ' + height +
       ' ' + original_video + ' ' + encoded_video + ' --out-

[2017-07-11 03:28] li-zhi commented on #91
The run time depends on the video resolution, frame rate and duration. Can
you give more specifics?

On Mon, Jul 10, 2017 at 12:23 PM Hossam Amer <notifications@github.com>
wrote:

[2017-07-11 05:18] HossamAmer12 commented on #91
My video resolution is 1080p. Let's assume that I am running 10 frames.

[2017-07-11 06:34] li-zhi commented on #91
10 frames at 1080p for several minutes doesn't make sense. looks fishy.

On Mon, Jul 10, 2017 at 10:18 PM, Hossam Amer <notifications@github.com>
wrote:

[2017-07-13 03:22] HossamAmer12 commented on #91
Yeah it does not make sense to me too

Any clue?

[2017-07-13 04:29] li-zhi commented on #91
Any chance you can share the video and its reference?

[2017-07-14 07:16] DayOfDream-Kim commented on #62
i have same problem
what exactly means
Add "-D_GNU_SOURCE" to CXXFLAGS in vmaf-master/wrapper/Makefile to let several C++ source file compile successfully.
where i should add "-D_GNU_SOURCE" ?

[2017-07-16 16:14] dbermond opened #93 "Models installation directory"
Models are being installed in `$(PREFIX)/share` directory after running `make install`.

This type of files are usually installed in `$(PREFIX)/share/<name>` directory.
Shouldn't it be installed in something else like `$(PREFIX)/share/vmaf` or `$(PREFIX)/share/model`?

https://github.com/Netflix/vmaf/blob/7821b0aa607e8afc74dfb75fc964858e47cd8000/wrapper/Makefile#L152

https://github.com/Netflix/vm

[2017-07-16 18:06] li-zhi commented on #93
@ashk43712 @rbultje

[2017-07-16 18:14] ashk43712 commented on #93
@dbermond , the vmaf/model directory is copied to $(PREFIX)/share/ . So model files reside under $(PREFIX)/share/model/ .

[2017-07-16 18:50] dbermond commented on #93
@ashk43712

Thank you for the reply.

I'm getting models installed in `$(PREFIX)/share` when running `make install`.

But now I could figure out why: creation of the  `$(PREFIX)/share` directory is **missed** from `wrapper/Makefile`.

Other directories (`include` and `lib`) are being previously created with `mkdir` and installation works fine with them. But regarding `share`, the `cp` command is c

[2017-07-16 19:07] ashk43712 commented on #93
@dbermond, you are right.
Thanks for figuring that out.
@li-zhi can you please include this one line in your next commit.
Thanks

[2017-07-16 19:08] dbermond commented on #93
@ashk43712
Thank you for confirming this.

If you wish I can open a pull request to fix it.

[2017-07-16 19:09] li-zhi commented on #93
No problem. Will do.

On Sun, Jul 16, 2017 at 12:07 PM Ashish Pratap Singh <
notifications@github.com> wrote:

[2017-07-16 22:39] li-zhi commented on #93
Updated.

[2017-07-16 22:47] li-zhi commented on #86
VMAF hasn't been tested on interlaced source so we don't know for sure. But my hunch is that if you apply it to the fields (reference and distorted pairs for each field) prior to interlacing, it should give you a reasonable estimation.

[2017-07-17 00:31] dbermond commented on #93
Fixed by commit d733c3ca35db14d2ca29b79bd095ff60f9368bec.
Thank you for fixing this.

Closing this issue.

[2017-07-17 00:31] #93 closed

[2017-07-18 01:38] HossamAmer12 commented on #91
Please pick any HD video from this list [https://media.xiph.org/video/derf/], and you will most likely face this problem.

If it is really necessary, I will share my videos. :)

[2017-07-20 03:36] HossamAmer12 commented on #91
Please note that I have already shared videos with you.

On Wed, Jul 12, 2017 at 9:29 PM, Zhi Li <notifications@github.com> wrote:

[2017-07-20 06:19] li-zhi commented on #91
I tried on
`time ./ffmpeg2vmaf 1920 1080 ~/Downloads/riverbed_1080p25.y4m ~/Downloads/riverbed_1080p25.y4m`

and it gives:
[code]

[2017-07-20 06:21] HossamAmer12 commented on #91
Why do you use ffmpeg2vmaf? Why don't you use run_vmaf script?

On Wed, Jul 19, 2017 at 11:19 PM, Zhi Li <notifications@github.com> wrote:

[2017-07-20 06:42] li-zhi commented on #91
run_vmaf only takes YUV formats (type ./run_vmaf to get help message), where as y4m is YUV wrapped with header information, and can be decoded by ffmpeg.

[2017-07-20 06:43] HossamAmer12 commented on #91
Can you please try run_vmaf?

On Wed, Jul 19, 2017 at 11:42 PM, Zhi Li <notifications@github.com> wrote:

[2017-07-20 15:16] li-zhi commented on #91
Do you have a pair of YUV files for me to try?

[2017-07-20 15:39] HossamAmer12 commented on #91
Any pair of the HD YUVs from the Xiph page can work for this test.

On Thu, Jul 20, 2017 at 8:16 AM, Zhi Li <notifications@github.com> wrote:

[2017-07-20 15:56] li-zhi commented on #91
Can you point me to a specific one to try? Some links seem broken

On Thu, Jul 20, 2017 at 8:39 AM Hossam Amer <notifications@github.com>
wrote:

[2017-07-21 20:29] HossamAmer12 commented on #91
Please find the link:
https://media.xiph.org/video/derf/y4m/tractor_1080p25.y4m

On Thu, Jul 20, 2017 at 8:56 AM, Zhi Li <notifications@github.com> wrote:

[2017-07-21 20:34] li-zhi commented on #91
@HossamAmer12 Oh that's a .y4m file, which is not YUV. You cannot use run_vmaf command with that file. Only ffmpeg2vmaf will work on that file.

[2017-07-21 20:52] HossamAmer12 commented on #91
I use the YUV version of this file and the running time is long.

Can you please use the YUV and let me know your running time?

On Fri, 21 Jul 2017 at 1:34 pm, Zhi Li <notifications@github.com> wrote:

[2017-07-24 03:02] NewRegin opened #99 "how to count the DMOS?"
I want to get some testing videos, but how can I count the DMOS?

[2017-07-24 18:03] HossamAmer12 commented on #91
Hi Zhi,

Can you please use the YUV version instead?

Thanks!
Hossam

On Fri, Jul 21, 2017 at 1:52 PM, Hossam Amer <hossam.amer12@gmail.com>
wrote:

[2017-07-25 04:19] #99 closed

[2017-07-25 12:25] li-zhi commented on #91
@HossamAmer12 I am on vacation until Wednesday. Let me get back to you after I am back.

[2017-07-27 16:22] li-zhi commented on #91
@HossamAmer12 I decoded the .y4m file to YUV, and ran using ` time ./run_vmaf yuv420p 1920 1080 ~/Downloads/tractor_1080p25.yuv ~/Downloads/tractor_1080p25.yuv`. 690 frames took about 6 minutes:
[code]

[2017-07-28 17:37] HossamAmer12 commented on #91
Ok -- Thank you Zhi! :)

On Thu, Jul 27, 2017 at 9:22 AM, Zhi Li <notifications@github.com> wrote:

[2017-07-31 05:20] shhhhh79 opened #100 "Chroma values are not included in VMAF calculation?"
I prepared a reference image and a modified image which has the same luma as the reference but very distorted chroma.
These two give exactly the same results when I run VMAF.
Am I doing something wrong or chroma is excluded for VMAF calculation?

Thank you.

[2017-07-31 05:38] li-zhi commented on #100
Indeed, current VMAF version is based on luma component only. We are
considering extending to chroma in future versions.

On Sun, Jul 30, 2017 at 10:20 PM, shhhhh79 <notifications@github.com> wrote:

[2017-07-31 05:46] shhhhh79 commented on #100
Thank you for the answer!

I have a question.
If I run VMAF for chroma values as if they were luma, then the calculated VMAF will be still valid?
I guess not because luma and chroma have different characteristics and VMAF is somehow trained for luma..

[2017-08-04 23:37] zshenker commented on #91
@li-zhi Running on my late 2016 Macbook Pro, with a 1080p source I am seeing similar numbers to your tests above of around `1.7-2.1`fps.

I am looking to run VMAF over a larger library of content, would you have any recommendations on any way to increase the speed of VMAF or if there any way to run in a parallel/distributed way?

[2017-08-04 23:43] li-zhi commented on #91
@zshenker If you have multiple videos to process, you can run VMAF in parallel (up to the number of cores). The best way is to create a dataset file (see https://github.com/Netflix/vmaf#create-a-dataset) and use command ./run_testing (see https://github.com/Netflix/vmaf#validate-a-dataset).

[2017-08-08 06:25] NewRegin opened #101 "how can use vmaf in ffmpeg?"
[code]
I install vmaf in CentOS,then I can use ffmpeg2vmaf and run_vmaf etc,but I can't install ffmpeg which supports libvmaf, just get this error:
[code]
ffbuild/config.log:
[code]

[2017-08-08 06:42] li-zhi commented on #101
@ashk43712

[2017-08-08 08:27] NewRegin commented on #101
We know the subject quality is very import, ffmpeg support libvmaf is a meaningful event! so please help us to use it in ffmpeg.

[2017-08-08 08:48] ashk43712 commented on #101
Hi @NewRegin , I am not completely sure why you are getting "ERROR: libvmaf must be installed". We have tested it on Debian systems and OSX and it works perfectly. Give me some more time and we will have it resolved. Also, libvmaf was changed recently so I updated the patch on FFmpeg which is not yet applied so you may get some errors on installing libvmaf. These two patches are yet to be applied:

[2017-08-09 02:14] NewRegin commented on #101
@ashk43712 Thx so much, I will use this path to test, and then give you the result!

[2017-08-09 08:15] #101 closed

[2017-08-09 12:03] gitgjogh opened #102 "Is there any connection between NFLX_dataset_public.py & NFLX_dataset_public_raw.py?"
Hi zhi,

Is there any connection between `NFLX_dataset_public.py` & `NFLX_dataset_public_raw.py under` `resource/dataset`?

Is `NFLX_dataset_public.py` derived from `NFLX_dataset_public_raw.py`? If yes, which function or module can do these?

[2017-08-09 15:48] li-zhi commented on #102
Yes, NFLX_dataset_public is derived from NFLX_dataset_public_raw. The former has the DMOS scores for each distorted video, while the latter has the per-subject, raw opinion scores. mos.subjective_model.SubjectiveModel.to_aggregated_dataset_file can do the conversion. You can search the function name to_aggregated_dataset_file in the repo to find sample usages.

[2017-08-10 06:27] gitgjogh commented on #102
Hi Zhi,
Thanks for you quick reply. I took a look at the codes and found some sample usages inside `subjective_model_test.py`. Now my question is how to reporduce `NFLX_dataset_public.py`?

I tried to reproduce `NFLX_dataset_public_raw.py` like this:

The result is not so closed.

As I'm trying to apply `VMAF` on mobile videos. We may collect DMOS datas from mobile device in the future. So I am cu

[2017-08-10 17:51] li-zhi commented on #102
Use the following:
[code]
Here normalize_final means applying a z-scoring to the output; transform_final follows normalize_final, and it applies a polynomial transform (in this case, f(x) = 20 * x + 0).

The NFLX_dataset_public.py generated is equivalent, but the order of entries are different.

[2017-08-10 18:22] #57 closed

[2017-08-10 18:22] #58 closed

[2017-08-10 18:23] #59 closed

[2017-08-10 18:25] #73 closed

[2017-08-10 18:25] #75 closed

[2017-08-10 18:26] #78 closed

[2017-08-10 18:27] #81 closed

[2017-08-10 18:27] #83 closed

[2017-08-10 18:28] #86 closed

[2017-08-10 18:28] #87 closed

[2017-08-10 18:29] #91 closed

[2017-08-10 18:31] li-zhi commented on #100
I would guess that the prediction is order-accurate, but not its absolute value.

[2017-08-11 00:58] gitgjogh commented on #102
Got it! Thanks very much.

[2017-08-11 00:58] #102 closed

[2017-08-11 06:40] nandakd commented on #76
Great discussion! I strongly agree with the general need here - which is better quantifying VMAF accuracy and spread, since the correlation metrics tell only a small part of the story.

Assume the subjective scores are the golden reference (either using the joint estimation technique in your paper or conventional mean, z-score, subject rejection methods). If we consider VMAF as a prediction of MOS

[2017-08-11 07:16] nandakd opened #103 "VMAF comparisons at very low quality range"
Hello,

Here are some results that VMAF produces (at the very low bitrate, low quality range) that we're trying to understand.
Here's what we did:
a) Take high quality 1080p source, downsample to 400x224, encode at low bitrate, decode and upsample to 1080p and compare with 1080p source (1080p comparison) - VMAF 13.135
b) Downsample high quality 1080p source to 400x224, encode at low bitrate, decod

[2017-08-11 15:36] li-zhi commented on #103
@nandakd For the difference between VMAF results at 400x224 vs 1080p, refer to the first question on the FAQ page. As regarding why there are many zeros, by default VMAF scores impose a hard clip on [0, 100]. You can optionally turn that clip off if you run wrapper/vmafossexec (the model file to use should be model/vmaf_v0.6.1.pkl).

[2017-08-13 08:07] JohnhqWang opened #105 "Dimension requirement to calculate ms_ssim"
I tried to run VMAF on cropped video segments with dimension 128x72, which is 1/5 of 640x360. It seems that ms_ssim has specific requirement on the picture size.

`Traceback (most recent call last):
  File "/usr/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **s

[2017-08-13 08:23] yuhjay commented on #105
VMAF is based on collected subjective scores. If image size is too small, the final score could be biased. MSSIM is based on on psychological models, so the requirement is reasonable.

從我的 iPhone 傳送

[2017-08-14 03:59] NewRegin opened #106 "how to train vamf phone-model?"
As we know, Netflix use the Double Stimulus Impairment Scale (DSIS) method(as specified in recommendation ITU-R BT.500–13) in standardized subjective testing on the TV model.
So question 1:
on the phone model, what's the method, DSIS or other?
Question 2:
What is the difference between the experimental environment and before?
Question 3:
Do you use a variety of mobile phone brands in the phone-exp

[2017-08-14 17:27] JohnhqWang commented on #105
Hi Joe @yuhjay, thanks for the explanation. The purpose here is to evaluate local quality of spatial-temporal segments and fuse local scores afterwards.

[2017-08-14 17:39] li-zhi commented on #106
@NewRegin:
1. The model was ACR when phone mobile was trained. In fact, we tried both DSIS and ACR in the past, and the resulting model were quite consistent with each other.
2.3. The subjective test was conducted in a way that subjects views video on a Samsung S5, with a viewing distance natural to the viewers. The experiment was conducted in a lab environment, with set up according to ITU-R BT.5

[2017-08-15 02:03] NewRegin commented on #106
thanks @li-zhi

[2017-08-16 20:53] Tshenk opened #107 "Windows vmafossexec build failure"
Trying to build the vs2015 solution on windows - getting the following failure for both release and debug builds:

3>main.obj : error LNK2001: unresolved external symbol read_frame
3>D:\netflix-vmaf\src\x64\Release\vmafossexec.exe : fatal error LNK1120: 1 unresolved externals

I couldn't find any specific instructions, but this appears to be the only failure.

[2017-08-17 16:40] li-zhi commented on #107
This has to do with a latest refactoring. I am currently working on some code structure change. Once done, the vs2015 configuration files need to be updated. Stay tuned.

 @cmarlin

[2017-08-24 16:59] #105 closed

[2017-08-28 19:40] ecomte opened #111 "Run VMAF Library in FFMPEG"
After reading documentation, I saw it is able to run VMAF via a plugin on ffmpeg. I have yet to figure out how to though.

ffmpeg says "simply" install libvmaf, and run ./configure --enable-libvmaf. This makes sense, but there are no ./configure files to be found and after scrounging everywhere to figure out how this is possible, I have come up empty. I have significant experience using VMAF outsi

[2017-08-28 19:54] li-zhi commented on #111
@ashk43712

[2017-08-29 05:37] #106 closed

[2017-08-29 07:54] ashk43712 commented on #111
Hi @ecomte , configure file is there inside FFmpeg/ so if you want to run vmaf using FFmpeg first install libvmaf library using make install and then from the root directory of FFmpeg (which is FFmpeg/) do ./configure --enable-libvmaf . After that do make install. Run vmaf through FFmpeg using the following command:
ffmpeg -i main -i ref -lavfi libvmaf -f null -
 Also, libvmaf was changed recently

[2017-08-30 13:54] ecomte commented on #111
Hi. Thank you for your quick response, I greatly appreciate it. Will I have to do make install libvmaf from an external source, or is the library included in the FFmpeg development package?

Thanks.

[2017-08-30 14:03] ashk43712 commented on #111
Hi @ecomte, FFmpeg only links to libvmaf, the library itself is not included in the FFmpeg development package. You can install libvmaf from Netflix's VMAF package (this repo) using make and then make install.

[2017-08-30 16:29] ecomte commented on #111
Hi @ashk43712. I was able to successfully install libvmaf. After installing, I "cd'ed" into the root FFmpeg directory and ran "./configure --enable-libvmaf". It gave the following error: "ERROR: libvmaf not found using pkg-config". Do you happen to have any idea what this could be? I was wondering if it could be an issue with how I have my CentOS machine set up, or if it is a problem with FFmpeg a

[2017-08-31 13:35] chuanY commented on #111
i have same issues too.
hopes you can fixed.

thanks

[2017-08-31 18:53] ashk43712 commented on #111
Hi @chuanY , can you mention your issues?

[2017-09-01 01:33] chuanY commented on #111
when i run "./configure --enable-libvmaf" , i get "ERROR: libvmaf not found using pkg-config" issues

[2017-09-01 08:03] ashk43712 commented on #111
Hi, @ecomte and @chuanY . Can you check if the pkg-config file (libvmaf.pc) is copied inside /usr/local/lib/pkgconfig/ after running make install. Can you also check if the library (libvmaf.a) and the
 library header (libvmaf.h) are copied to usr/local/lib/ and usr/local/include/ respectively. If these are not their then mostly the issue is with your system, maybe permissions , not sure though. Ca

[2017-09-01 13:05] ecomte commented on #111
I checked all of those directories and they are containing the correct files. I tried running sudo make install, and then './configure --enable-libvmaf' and still got the same results: "ERROR: libvmaf not found using pkg-config".

@chuanY, let me know what you find out, I'm curious to see. Maybe it is an issue with my machine, but I will wait for an update to see if you're still having the same is

[2017-09-04 20:03] ashk43712 commented on #111
Hi @ecomte and @chuanY, can you check the default path of your system's pkg-config files (using "pkg-config --variable pc_path pkg-config" or similar commands). Can you try moving libvmaf.pc at one of these paths and see if it works.
I think it makes sense to make the install location customizable to fix system specific issues.
Thanks.

[2017-09-05 02:04] chuanY commented on #111
hi @ashk43712 @ecomte  i fixed by i use latest master branch code, not 1.3.1 release tag, and i success

[2017-09-06 05:42] nandakd commented on #111
Was able to configure ffmpeg with vmaf. Check ffbuild/config.log - you may need to set PKG_CONFIG_PATH.

[2017-09-06 08:27] nandakd commented on #103
Thanks - I've referred to both Issue #74 and the FAQ.  According to our discussion around Issue #74, what was done in a) above was the right thing to do, since the current VMAF model was trained using all 1080p comparisons.
My question was - what is the real meaning of frame VMAF scores tending to zero (clipped or not clipped)? The frames I mentioned are not very different from neighbouring frames

[2017-09-14 01:53] NewRegin opened #113 "using YUV format or MP4 format in the experiment？"
Hello！I know the vmaf support the yuv format and ffmpeg-vmaf support the mp4 and other formats，but In the training process，I mean In the training of vmaf-TV model and the vmaf-phone model，what's the format of videos? Can I use the dmos scores of some mp4 videos to retrain the vamf model?

[2017-09-14 03:58] li-zhi commented on #113
Yes this is possible. Just create a dataset file with yuv_fmt being 'notyuv'. In the field 'quality_width' and 'quality_height', specify the resolution at which you want VMAF to be calculated at. An example can be found at https://github.com/Netflix/vmaf/blob/master/python/test/resource/test_image_dataset_notyuv.py.

[2017-09-14 10:41] NewRegin commented on #113
sometimes, the resolution is dynamic, for example:

[code]

is this OK?

[2017-09-14 18:36] li-zhi commented on #113
The quality_width and quality_height are actually different from the source video's width and height. They are the resolution that the videos are scaled to before VMAF calculation is performed. For the videos of MP4 format, since the width and height are coded in their header (unlike YUV), you don't actually have to specify them.

Furthermore, if you want to control the scaling method, add a line

[2017-09-15 02:13] NewRegin commented on #113
thanks, zhi!

[2017-09-15 02:13] #113 closed

[2017-09-22 07:34] slhck opened #114 "Warning "svg.image_noscale is deprecated""
Running the latest version of VMAF under macOS 10.12 with Homebrew-installed Python 2.7.13 and `matplotlib` version 2.0.2, I am getting the following when running this command:

[code]

Output starts with:

[code]

I don't know what exactly causes this ~error~ warning – any ideas?

[2017-09-25 10:19] slhck commented on #111
So, just to summarize, for VMAF:

1. Clone `https://github.com/Netflix/vmaf`
2. Install the prerequisites and the required `pip` commands
3. Run `make`, edit your `PYTHONPATH`, and run `make install`

For FFmpeg:

1. Clone `https://git.ffmpeg.org/ffmpeg.git`
2. Install the prerequisites (see the [Compilation Guides](http://trac.ffmpeg.org/wiki/CompilationGuide))
3. Run `./configure --enable-libvma

[2017-09-25 10:44] slhck opened #115 "Dockerfile requires download of tex-common?"
Installing the Docker variant, I see that these packages, among others, are downloaded:

[code]

What causes these to be downloaded and installed? It takes quite a long time just to set up those dependencies.

Full log here: https://pastebin.com/raw/zQMLkFsR

[2017-09-29 01:02] nandakd commented on #111
Has anyone tried executing the vmaf command itself through ffmpeg?

I've been trying based on the description https://ffmpeg.org/ffmpeg-filters.html#libvmaf, but not successful so far.

[2017-09-29 08:31] slhck commented on #111
@nandakd If you're having issues, you need to show exactly what you've been doing and what output / errors you are getting. When you say that you were "not successful", that's not really a proper problem description.

[2017-09-29 18:51] nandakd commented on #111
I tried the exact examples mentioned on that ffmpeg page, and got an ffmpeg segmentation fault.

I then tried using ffmpeg2vmaf, which worked, but does not support specifying a log file - need to use stdout/stderr redirecting . ffmpeg2vmaf also exits with this weird tty error, where echo is turned off (needs a reset).

[2017-10-01 09:13] slhck commented on #111
Same here – I've [reported it on the FFmpeg bug tracker](http://trac.ffmpeg.org/ticket/6691#comment:description)

[2017-10-01 10:20] ashk43712 commented on #111
Hi everyone, I have started looking into the issues. I'll try to resolve them as soon as possible.

[2017-10-17 23:49] chadnickbok opened #116 "ffmpeg2vmaf should use bicubic upscaling not bilinear for more consistent results"
I ran into a strange issue testing vmaf results across resolutions - basically ffmpeg2vmaf doesn't like 540p content. I assume this is due to the exact multiple-of-two scaling the bilinear filter does, but essentially any content I encode at 540p get a worse vmaf score than 522p.

Switching ffmpeg2vmaf over from bilinear to bicubic scaling in `python/src/vmaf/core/asset.py` reduces this issue (and

[2017-10-18 00:09] li-zhi commented on #116
Great point. I will put in a fix. -Zhi

On Tue, Oct 17, 2017 at 4:49 PM Nick Chadwick <notifications@github.com>
wrote:

[2017-10-18 17:04] li-zhi commented on #115
@leandromoreira

[2017-10-18 17:09] li-zhi commented on #114
Shouldn't impact any output since run_vmaf doesn't produce any graphics..

[2017-10-18 17:19] slhck commented on #114
I assumed it would not cause any wrong output, but it still seems weird to get that warning, especially when no graphics are being produced.

[2017-10-18 17:28] li-zhi commented on #114
The only case when a graph is generated is by enabling the option `--local-explain`. This is an hidden option that tries to provide some insights on the relative weights of different features in the final result. Could you try that and see if you can get a plot?

[2017-10-18 17:40] leandromoreira commented on #115
@slhck I followed the steps on the [prerequisite-installation](https://github.com/Netflix/vmaf#prerequisite-installation) and I was adding some packages as I was facing some issues.

But if you can shrink its size it'll be awesome!!! Maybe now we're able to make a smaller docker image.

[2017-10-19 12:14] slhck commented on #115
My idea would be to only install the essential packages needed for running VMAF. I have yet to check why TeX would be needed here.

I'll create a new Dockerfile based on a smaller base image, too, like `alpine`, and send a PR.

[2017-10-19 12:25] slhck commented on #115
Just to mention that the basic `vmaf` image takes 3.45GB, plus 122MB from the `ubuntu` container.

[2017-10-19 13:32] leandromoreira commented on #115
@slhck I know, it'll be great if we could decrease its size.

[2017-10-19 20:27] slhck commented on #115
I'm not sure why `pkg-config gfortran libhdf5-dev libfreetype6-dev liblapack-dev` are needed and listed in the README. The following dependencies do the trick for me with the base Ubuntu Docker image:

`apt-get install build-essential git python python-setuptools python-dev python-tk`

Then, all I need to do is:

`pip install numpy scipy matplotlib notebook pandas sympy nose scikit-learn h5py`

[2017-10-19 20:30] slhck commented on #114
Using the Docker version I cannot reproduce this anymore, maybe it's a particular version of a package that caused it.

[2017-10-19 20:30] #114 closed

[2017-10-19 23:44] #115 closed

[2017-10-27 09:02] chuaweijie commented on #80
@juanpef , I'm having the same problem. I've checked the PYTHONPATH variable with echo $PYTHONPATH and it shows the correct path.

Is it possible for you to elaborate on what is the problem and how did you solve it? Your help is highly appreciated.

[2017-10-30 08:27] nandakd opened #118 "ffmpeg2vmaf default pixel format?"
What does ffmpeg2vmaf do when the reference and distorted video are in different pixel formats? No option to set pix_fmt.

[2017-10-30 16:19] li-zhi commented on #118
ffmpeg2vmaf assumes that both the reference and distorted video inputs are
in ffmpeg-decodable formats. It doesn't take in raw YUV formats.

On Mon, Oct 30, 2017 at 1:27 AM, nandakd <notifications@github.com> wrote:

[2017-11-02 10:27] nandakd commented on #118
Ok, so in the following case:
ffmpeg2vmaf 1920 1080 in.mp4 in1.mp4

If one is in yuv420p and the other yuv422p, what pixel format is the VMAF computation done at?

[2017-11-02 10:29] nandakd opened #119 "ffmpeg2vmaf control threading/speed"
The ffmpeg2vmaf command gives about 5% utilization. Is there an option to increase the number of threads and thus, utilization?

[2017-11-02 15:15] li-zhi commented on #118
In this case, you'll need to convert yuv420p to yuv422p, or the other way
around, and call run_vmaf, instead of ffmpeg2vmaf.

On Thu, Nov 2, 2017 at 3:27 AM, nandakd <notifications@github.com> wrote:

[2017-11-02 15:18] li-zhi commented on #119
If you have more than one video sequences to process, you can increase the
cpu utilization by parallelizing the processing over multiple processes.
Search 'parallelize' in README.

On Thu, Nov 2, 2017 at 3:29 AM, nandakd <notifications@github.com> wrote:

[2017-11-02 15:34] nandakd commented on #118
We should add support for this in ffmpeg2vmaf. Use ffmpeg for decoding to the reference video pixel format, and then vmaf can be computed on the decoded frames.

[2017-11-02 16:10] li-zhi commented on #118
Please keep this issue open and we'll get to this feature.

[2017-11-03 17:04] nandakd commented on #119
Right, my wrapper script is already launching multiple vmaf processes - but I just wanted to understand the level of parallelism within the core vmaf computation.

[2017-11-03 17:31] li-zhi commented on #119
Currently the implementation has SIMD for some computationally intensive
feature extraction operations; it doesn't have frame-level parallelism.
However, given the nature of the computation mostly on a per-frame basis
and the structuring of the code, it should be fairly straightforward to
extend it to support frame parallelism.

On Fri, Nov 3, 2017 at 10:04 AM, nandakd <notifications@github.com> w

[2017-11-06 06:40] li-zhi commented on #118
@nandakd I generalized the ffmpeg2vmaf script to allow ref/dis input to be YUV. For example, now you can do:
[code]
Unfortunately, the only case it won't work is if you want both ref/dis input to be YUV but of different formats, for example, the following won't work:
[code]
It requires a deeper refactor of the current code.

[2017-11-06 12:54] rbultje commented on #111
The segfault from ffmpeg bug #6691 is now fixed since 4c38aa79ece4fa0ea7533774197d6408d7d3b9e5.

[2017-11-11 20:04] Reed97123 opened #120 "unittest Errors"
Installed as per the instructions on Ubuntu 16.04.  Upon running unittest I received some Failures/Errors.

Should I be concerned about these Errors/Failures?  Thanks!

======================================================================
ERROR: local_explainer_test (unittest.loader.ModuleImportFailure)
----------------------------------------------------------------------
ImportError: Failed to

[2017-11-12 15:16] li-zhi commented on #120
The 4 errors are related to the package python-tk. They can probably be fixed by installing that package. The first 6 failures are due to that the command lines returns 1 instead of 0. But the underlying classes have been tested by other test cases, so it's probably OK. The last 2 failures due to slight numerical difference are ignorable.

[2017-11-16 23:31] #116 closed

[2017-11-26 14:19] dwbuiten opened #122 "pkg-config file should not hardcode which C++ runtime to use"
Currently, `libvmaf.pc` hardcodes the use of libstdc++, which is simply untrue on many systems and toolchains, which may be using e.g. `libc++` or some other C++ runtime.

[2017-11-26 16:37] li-zhi commented on #122
@ashk43712 would you take a look?

[2017-11-27 14:36] GyanD commented on #111
I've compiled libvmaf on Windows for integration with FFmpeg, so to clarify on what @slhck said above , python and its packages are not required in order to compile either the static libvmaf.a library or the standalone vmafossexec tool.

[2017-11-29 12:11] GyanD opened #124 "FFmpeg crashes if model file line endings are CRLF"
I've compiled FFmpeg with libvmaf on Windows/MinGW.

ffmpeg crashes if the model file has DOS line endings. If I run dos2unix on the file, it works. I set `eol.mode` on the git repo to `lf` before cloning. But that didn't make a difference.

These are the final few lines of the stderr from FFmpeg, verbatim

[code]

If DOS line-endings can't be accommodated, can VMAF let ffmpeg exit gracefully?

[2017-11-29 16:52] li-zhi commented on #124
@rbultje Would you take a look?

[2017-11-30 11:03] GyanD commented on #124
Bug reported - https://trac.ffmpeg.org/ticket/6884

[2017-11-30 14:27] rbultje commented on #124
@li-zhi the backtrace points to an assert in the vmaf codebase:

[code]

[2017-11-30 14:34] Cigaes commented on #124
Which is unacceptable in a library for external conditions. The bug is here, not in FFmpeg.

[2017-11-30 14:54] slhck opened #125 "Link to references describing elementary metrics"
Reading the [original blog post](https://medium.com/netflix-techblog/toward-a-practical-perceptual-video-quality-metric-653f208b9652), some references are given, but I think that the metrics shown there are outdated and do not correspond to what is implemented now.

* *VIF* – this is clear, corresponding to the VIF metrik from H. Sheikh and A. Bovik, “Image Information and Visual Quality”.
* *Moti

[2017-11-30 15:39] li-zhi commented on #125
I’ll try to do a document on algorithm overview. But a quick comment: DLM
and ADM are the same thing but named differently due to some historical
reasons.

On Thu, Nov 30, 2017 at 6:54 AM Werner Robitza <notifications@github.com>
wrote:

[2017-11-30 17:59] li-zhi commented on #125
Also, in `run_vmaf`, there is a hidden argument `--local-explain` which does a first-order approximation of the regression result, so that you can see the relative weight of each metric on the final result.

[2017-11-30 18:11] li-zhi commented on #124
See if I understand this correctly. The library throws an exception if the model file is DOS line ending. This is not the desirable behavior? If not, how should we fix it?

[2017-11-30 18:25] rbultje commented on #124
I think libvmaf.h is pretending to be a C (not C++) header, after all it has C++ protection guards, and so it's unclear from the API that it can throw an exception (C has no exceptions). Possibly `compute_vmaf()` should catch the exception and return an error code or log an error message instead?

[2017-11-30 18:26] rbultje commented on #124
It's equally OK to say that libvmaf.h is - in fact - not a C header, but merely a C++ header. In that case, the exception should be documented and the ffmpeg code changed from C to C++ so it can catch the exception there. Either way, something needs to catch the exception, which isn't currently happening.

[2017-11-30 18:29] li-zhi commented on #124
Make sense. I'll look into it and see how to fix it the most reasonable way.

[2017-12-03 02:15] li-zhi commented on #124
@rbultje I created a PR. This changes the interface of compute_vmaf() - instead of returning the VMAF score, it returns an error code whenever there is an exception caught. Let me know if this works.

[2017-12-03 07:21] GyanD commented on #124
There are two issues here: what happens when an exception is raised, which is what your patch addresses. The other issue is that model file parsing fails if it has DOS line endings.

Since users on Windows will, by default, checkout files as CRLF, can such files be accommodated? Users may not know of the requirement and may not have a conversion utility at hand.

[2017-12-03 19:01] li-zhi commented on #124
@rbultje I merged the change on compute_vmaf(). Please make changes in FFmpeg accordingly.

@GyanD The following seems to be the right way to address the DOS line ending issue: https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings
Since you are a Windows user, would you like to contribute a solution by creating a PR?

[2017-12-03 19:10] Cigaes commented on #124
Your comments about CRLF line endings seems quite strange. The files that needs parsing and may have CRLF line endings do not come from Git.

[2017-12-03 19:14] GyanD commented on #124
@li-zhi  I'll send a patch soon.

@Cigaes  the model files are in model/ in the repo, are recognized as text files by git, and are copied to /usr/share as part of make target 'install'.

[2017-12-03 19:18] Cigaes commented on #124
And users are not allowed to provide their own instead?

[2017-12-03 19:25] GyanD commented on #124
Sure, they are. But such files are those users' responsibility. The project can warn about it - which is a good idea - but it can't control those files. The behaviour of files distributed by this repo, under this VCS, should not be broken with default settings on a widely used OS.

[2017-12-03 19:26] Cigaes commented on #124
Then you need to make your parser more tolerant. And if it is, then you do not care whether the standard files are LF or CRLF, since both would work. Problem solved the right way.

[2017-12-03 19:29] GyanD commented on #124
Maybe's there some confusion here. I'm not a part of this project - just an end user of VMAF within FFmpeg, who brought attention to this issue.

[2017-12-03 19:31] Cigaes commented on #124
Sorry. My remarks were directed towards the comment at #issuecomment-348805786.

[2017-12-03 20:29] rbultje commented on #124
@li-zhi I'll take care of updating FFmpeg to use the new API, thanks for the patch on your side.

[2017-12-07 08:29] c-bata opened #128 "Question about supporting Python 3"
Hi! Thanks for developing this interesting library.

I know this library supported Python 3.6 ([see here](https://github.com/Netflix/vmaf/blob/master/python/setup.py#L33-L36)), and I could successfully install vmaf library on Python 3.6 and I could try to calculate PSNR via [ffmpeg libvmaf filter](https://ffmpeg.org/ffmpeg-filters.html#libvmaf).
But following scripts written for Python 2:
https://

[2017-12-07 21:00] li-zhi commented on #128
@c-bata Thanks for this. We are also planning to iterative the repo to make it support publishing in Python 2 and 3 (publishing is not ready yet). In the mean time, please feel free to submit PR to make the code more general. +@zsimic

[2017-12-08 03:07] xshen1122 commented on #111
I have successfully run ffmpeg + libvmaf for mpg file like:  ffmpeg -i main.mpg -i ref.mpg -lavfi libvmaf -f null -
But I want to compare yuv file, "ffmpeg -i 1.yuv -i 2.yuv -lavfi libvmaf -f null - " , ffmpeg cannot regonize yuv:
[IMGUTILS @ 0x7ffc653935c0] Picture size 0x0 is invalid
1.yuv: Invalid argument

Any idea? How to compare 2 yuv files?

[2017-12-08 03:55] c-bata commented on #128
I see. thanks.

[2017-12-08 03:55] #128 closed

[2017-12-08 06:01] GyanD commented on #111
That's an ffmpeg issue, not VMAF. The short answer is that since the inputs are raw, there's no metadata to inform ffmpeg about the properties of the input. ffmpeg needs that to initialize the decoder. For raw YUV, you'll have to specify the resolution, frame rate and pixel format e.g. `-video_size 1280x720 -pixel_format yuv420p -framerate 30 -i 1.yuv`

[2017-12-08 06:22] xshen1122 commented on #111
@GyanD 👍
Thanks a lot. It's working now.

[2017-12-12 05:48] chuanY commented on #111
still get segmentation fault at centos run ffmpeg @rbultje

[2017-12-12 10:00] xshen1122 commented on #111
@GyanD 👍
Thanks a lot. It's working now.

[2017-12-12 12:52] rbultje commented on #111
The patch isn't in ffmpeg yet, so you're probably running the old version.

[2017-12-13 03:25] CSMGAO opened #130 "unittest errors and warnings"
when I run ./unittest, some errors and warnings occur.  Should I be concerned about these Warning/Errors? Thanks!

They are shown as follows:

UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.18 when using version 0.19.1. This might lead to breaking code or invalid results. Use at your own risk.
UserWarning)
/vmaf/vmaf-master/python/src/vmaf/core/perf_metric.py:297: R

[2017-12-13 05:58] CSMGAO commented on #130
When the reference video is the same as the distorted video, why the VMAF score is 98.908912 not 100.
Here is my cmd line:
./run_vmaf yuv420p 1280 720 /YuvSeq/src.yuv /YuvSeq/src.yuv --out-fmt text

[2017-12-14 04:55] nandakd commented on #118
Thanks for your work on this. Are we sure we want YUV support in ffmpeg2vmaf (removing raw file handling was the whole point of ffmpeg2vmaf, wasnt it)?

I was hoping for something along the lines of
ffmpeg2vmaf 1920 1080 yuv420p10le ref.mp4 dis.mp4
or even without the extra pixel format argument, where the test/distorted video is always converted to the same pixel format as the reference video.

T

[2017-12-18 13:08] rbultje commented on #124
@li-zhi two requests from FFmpeg's side:
- would it be possible to provide more specific error messages (e.g. using errno.h return values, or maybe custom error codes and/or messages) to inform the user why exactly things went wrong? "Model file not found" (which likely implies a typo in the path) vs. "Model file is corrupt" (which may mean wrong CRLF settings in git config) vs. "My pants are on f

[2017-12-19 14:53] rbultje commented on #124
@li-zhi one additional request (also from FFmpeg's side):
- can we please get a version bump in the pkgconfig file? This will allow us to check for the new version and only enable support if the new version (with new API) is there. It may also be helpful (in the future) to rename the function to something different when such API changes are made, possibly keeping the original (which would wrap the

[2017-12-19 16:10] li-zhi commented on #124
Will do.

On Tue, Dec 19, 2017 at 6:54 AM Ronald S. Bultje <notifications@github.com>
wrote:

[2017-12-20 21:17] mshang opened #131 "Segfault running ffmpeg+libvmaf on Alpine Linux"
I get a segfault when running the libvmaf filter in ffmpeg on Alpine Linux. The problem can be demonstrated by building the following Dockerfile:

[code]

Output (last 2 lines):

[code]

Could this problem occur because Alpine Linux uses musl instead of glibc?

[2017-12-20 22:11] ReaddyEddy commented on #131
Yes

[2017-12-20 23:26] mshang commented on #131
Looks like it comes down to a difference in pthreads implementation between glibc and musl. The line that segfaults is in `libavfilter/vf_libvmaf.c` in the ffmpeg codebase:

    pthread_join(s->vmaf_thread, NULL);

If I add a conditional so that this line is only called if `vmaf_thread` has been initialized, then it works.

[2017-12-20 23:32] mshang commented on #131
So really, this is a bug in the ffmpeg code that connects to vmaf, not in vmaf itself, so feel free to close this issue if it's not helpful. However, I'm not submitting a bug to ffmpeg because I don't want to register for their bug tracker.

[2017-12-25 11:33] singhalhimanshu941 opened #135 "Getting an error while running .\unittest on Ubuntu"
error : vmaf-master/feature/ms_ssim does not exist, did you build?

[2017-12-25 11:35] singhalhimanshu941 commented on #135
full traceback :
Traceback (most recent call last):
  File "/usr/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "/home/vmaf-master/python/src/vmaf/tools/misc.py", line 267, in func_wrapper
    executor = func(args)
  File "/home/vmaf-maste

[2017-12-26 00:41] li-zhi commented on #135
Make sure that ‘make’ succeeds without error messages.

On Mon, Dec 25, 2017 at 7:35 PM singhalhimanshu941 <notifications@github.com>
wrote:

[2017-12-26 03:33] singhalhimanshu941 commented on #135
when i run make i got an error :
In file included from /home/main_workspace/vmaf-master/wrapper/../feature/src/adm_tools.c:32:0:
/usr/lib/gcc/i686-linux-gnu/4.8/include/emmintrin.h:31:3: error: #error "SSE2 instruction set not enabled"
 # error "SSE2 instruction set not enabled"

[2017-12-27 07:23] li-zhi commented on #135
This should do with the processor. Make sure it is SSE2 enabled.

On Tue, Dec 26, 2017 at 11:34 AM singhalhimanshu941 <
notifications@github.com> wrote:

[2017-12-27 17:30] ecomte opened #136 "Run in Batch gives slightly different results than single runs"
We ran the same videos in batch as we did one-by-one. Extremely similar results, but an average of 0.30 difference in the aggregate scores. What could be causing this, and is this a bigger issue or something I should be worried about?

[2017-12-27 23:16] li-zhi commented on #136
I wouldn’t expect this to happen. What were the command lines used?

On Thu, Dec 28, 2017 at 1:30 AM ecomte <notifications@github.com> wrote:

[2017-12-28 11:07] slhck opened #137 "ffmpeg2vmaf cannot find ffmpeg?"
Trying to run `ffmpeg2vmaf` with the latest version of VMAF under macOS 10.12 and ffmpeg installed via Homebrew, I get an error about ffmpeg not being found:

[code]

I did set `$FFMPEG_PATH` – but I don't know why it would be necessary since the program could just search for an `ffmpeg` binary in `$PATH` (it is included there).

[code]

Looking at the file `externals.py`, I see some hardcoded pat

[2017-12-28 11:47] slhck commented on #137
Oh, I get it now, I have to:

* create a file `python/src/vmaf/externals.py`
* add the line `FFMPEG_PATH = "/usr/local/bin/ffmpeg"`

Should this be added to the README?

[2017-12-28 11:47] #137 closed

[2017-12-28 15:37] ecomte commented on #136
My apologies. We found that we were using yuv's that were converted from mp4 compared to yuv's that were converted from mpg. That explains why scores were very similar but differed by a little.

[2017-12-28 15:37] #136 closed

[2017-12-31 05:23] li-zhi commented on #122
@rbultje would you take a look?

[2017-12-31 17:48] rbultje commented on #122
I'm not really very familiar with pkg-config so I don't really know how to fix it...

[2018-01-01 05:59] dcoolz commented on #135
Yes it was due to the processor. I was using AMD so it was not able to get sse2 instruction set. It worked for me with Intel Pentium

[2018-01-01 06:05] singhalhimanshu941 commented on #135
Yes it was the processor issue. I was using AMD so it was throwing sse2 instruction set not enabled. Its working fine now for me with Intel Pentium.

[2018-01-01 06:05] #135 closed

[2018-01-02 11:38] sonu1995 opened #139 "query related to vmaf"
Hi can you please tell i need to provide the **same** video one distorted and another reference to test this.

[2018-01-03 21:26] mshang opened #140 "frame sampling"
In order to reduce the runtime of vmaf, there could be option to sample frames when calculating elementary metrics. For example, calculate elementary metrics on only one of every three frames. This is not equivalent to sampling frames as a preprocessing step before feeding into vmaf because doing so would result in higher motion scores, which would throw off the results.

[2018-01-08 04:18] chuanY commented on #111
@rbultje what's time patch can be include as ffmpeg main branch

[2018-01-08 11:22] rbultje commented on #111
This was merged mid-december:

http://git.videolan.org/?p=ffmpeg.git;a=commit;h=df3222d4bb18cbceda443def17b1b29067ed6e3f

[2018-01-10 09:26] balsei opened #141 "how can i get same frame from a source ref doc to dis doc."
how can i get same frames  between source ref video and  dis video.

for example : i have a ref video  and  a dis video . but they have different frames, how can i get same frames between them and then run vmaf to get result.
tks~

[2018-01-10 16:34] li-zhi commented on #141
Not sure if I fully get the question, but I think you need to pre-process them (like using FFmpeg) to make the frames aligned before passing them to VMAF.

[2018-01-12 01:22] KanoB opened #142 "Unittest failures and errors"
Hello

I was able to compile on Centos7 virtual machine, after having all prerequisites installed.
But when runing the unittest I'm getting 2 failures, 21 errors and 1 skipped. I would appreciate you help on how can fix this to have a proper VMAF installation.
Attached are the output of the unitest modules that fail.
- cross_validation_test.py	RAN 11: errors 11
- local_explainer_test.py		RAN 3: er

[2018-01-13 18:21] LigH-de opened #143 "Memory leak in Win64 ffmpeg with vmaf"
The [media-autobuild_suite](https://github.com/jb-alvarado/media-autobuild_suite/) (brief: MABS) supports building ffmpeg in a regularly updates MSYS2/MinGW environment now also with vmaf for the Win64 target platform (a Win32 build failed due to "invalid EMMS intrinsics", is that intended, may that change?).

Another video developer asked me to confirm a memory leak he found, and indeed, once I m

[2018-01-14 01:21] fanyingming opened #144 "FFmpeg filter libvmaf use too much memory"
I use FFmpeg filter libvmaf like:
ffmpeg -i 1.mp4 -i 2.mp4 -lavfi "libvmaf" -f null -
I noticed that the memory FFmpeg used is almost 2x of YUV.
While run_vmaf and ffmpeg2vmaf no such issue.

[2018-01-14 13:58] LigH-de commented on #144
Duplicate of #143

[2018-01-15 13:29] LigH-de commented on #143
Also reported as [ffmpeg trac ticket 6967](https://trac.ffmpeg.org/ticket/6967) by the mentioned other developer.

[2018-01-18 20:26] chrisdavis03 opened #145 "Null results from libvmaf?"
I have compiled ffmpeg with libvmaf enabled on MSYS2/MinGW and I am getting null values in most cases. This was compiled with the latest builds.

ffmpeg -i [reference] -i [distorted] -lavfi libvmaf="model_path=vmaf_model//vmaf_v0.6.1.pkl" -f null -

ProRes422HQ 1080p 23.98 reference yuv422p10le & distorted files - "VMAF score:nan"
    - distorted image was scaled down and rescaled to 1080p as a te

[2018-01-26 18:01] LitovchenkoM opened #147 "ImportError: No module named vmaf.config"
Hello.
Tell me please what to do with this error? I followed the instructions, but something went wrong.

![config](https://user-images.githubusercontent.com/23329623/35453560-439eadfe-02fd-11e8-8e7b-aad85293ee31.png)

[2018-01-26 18:03] li-zhi commented on #147
This should do with PYTHONPATH. Have you set it up correctly?

On Fri, Jan 26, 2018 at 10:01 AM Marina Litovchenko <
notifications@github.com> wrote:

[2018-01-27 14:05] LitovchenkoM commented on #147
Oh, I forgot.
When I wrote this - export PYTHONPATH="$(pwd)/python/src:$PYTHONPATH"  - in gitbash it hangs.
Is this expression for PYTHONPATH correct for Windows? I`m not expert in github...

[2018-01-28 15:45] li-zhi commented on #147
Try this one:
https://stackoverflow.com/questions/3701646/how-to-add-to-the-pythonpath-in-windows-7

On Sat, Jan 27, 2018 at 6:05 AM Marina Litovchenko <notifications@github.com>
wrote:

[2018-02-07 12:09] enricovittorini opened #148 "FAIL: test_to_xml (result_test.ResultFormattingTest)"
VMAV 1.3.1
Ubuntu_17.10-VM-64bit

======================================================================
FAIL: test_to_xml (result_test.ResultFormattingTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/osboxes/Desktop/vmaf-1.3.1/python/test/result_test.py", line 160, in test_to_xml
    """.strip())
AssertionError: u'<?xml

[2018-02-08 06:25] li-zhi commented on #148
@enricovittorini this should be a minor issue. Instead of release 1.3.1, you could use the master branch, in which I have disabled this test.

[2018-02-09 02:51] balsei opened #149 "How to pre-process destorbed videos of different frames using FFmpeg"
eg:pre-process them (like using FFmpeg) to make the frames aligned before passing them to VMAF.

Can introduce some method ?Thank you~

[2018-03-09 11:10] v-pooja opened #152 "Wrong motion scores reported"
I printed the individual motion scores for the example you had given in Readme. ( command : ./vmaf motion yuv420p ../python/test/resource/yuv/src01_hrc00_576x324.yuv ../python/test/resource/yuv/src01_hrc01_576x324.yuv 576 324)
This was the result (shown for first 10 frames)-
motion: 0 0.000000
motion: 1 4.580837
motion: 2 4.215693
motion: 3 4.070274
motion: 4 3.825236
motion: 5 3.936408
motion: 6

[2018-03-09 15:36] li-zhi commented on #152
The motion score extracted by the ./vmaf motion command is the raw score
calculated by the c executable. The final one used in the SVM fusion is
called motion2, which is the aggregated score over every two adjacent
motion scores (by taking the min of the two). The reason why motion2 is
used is to deal with spikiness at scene boundaries.

I hope this helps.

On Fri, Mar 9, 2018 at 3:10 AM V Pooja <

[2018-03-09 15:54] v-pooja commented on #152
Thanks.

[2018-03-09 15:54] #152 closed

[2018-03-09 16:23] bernabe123 opened #153 "Open Source or Open Knowledge?"
Hi,

I am still very confused about this open source initiative, which is to be applauded. But there is no technical documentation about it.

In general you would expect a truly open source initiative to include technical details of the project. I don't see that. I don't see tech reports of the perceptual studies. We all know about data fusion and SVM, so why not give the details?

The threads see

[2018-03-09 18:25] yuhjay commented on #153
Hi bernabe123,

At first, I feel impolite to call a person with a codename and I am sorry if my following words sound harsh but I actually intended no harm.

For "Knowledge", everyone may have different definitions.
If you are an academic researcher, there are related academic papers about VMAF are publicly accessible. Please feel free to cite the following works if you are going to publish relate

[2018-03-09 18:36] li-zhi commented on #153
@bernabe123 thanks for the great comment. Definitely we have not been diligent enough to document details / keep things up to date. As @yuhjay pointed out, there have been some materials here and there, but we haven't kept a central repo for everyone's easy access. I'll have a discussion with colleagues on what's the best way moving forward.

But also VMAF has been evolving ever since. I expect th

[2018-03-10 06:56] bernabe123 commented on #153
HI guys, it is not my intention to hide my identity, apparently my name was taken so I need to keep looking at one that is close to mine. This is my LinkedIn profile:

https://www.linkedin.com/in/manuel-tiglio-a13b1b15/

We are based in San Diego but myself i spend a lot of my time in the Bay Area. Would it be possible Li to set up a meeting? (I am assuming you are based in the Bay Area).

Joe, I

[2018-03-13 11:13] riyazansari opened #154 "How to calculcate MOS of any Video using Netflix and VQEGHD3 dataset from vmaf"
Hi,
I am trying to find out mos value for my video using public dataset provided by netflix and vqeghd3.
Haven't found any command for that. It would be good if anyone provide the command.
Also, please provide support portal location if any.

[2018-03-14 23:33] chadnickbok commented on #140
This is a great feature I'd love to see.

Additionally, it would be awesome if there was a way to run vmaf in parallel across multiple frame pairs, to make use of multiple cores and speed up vmaf time.

[2018-03-21 05:00] nandakd commented on #103
Hi, any updates on this issue?

[2018-03-21 13:55] li-zhi commented on #103
@nandakd: if I understand your question correctly, you are asking the interpretation of zero/near-zero VMAF scores for some video frames, which looks similar to their neighboring frames that have higher scores. I have two questions:
1) are these frames static? and are the neighboring frames high-motion? The temporal information is a factor that will affect the VMAF score calculated, but may not ea

[2018-03-30 03:22] mengxuewei opened #155 "How to calculate the vmaf score between videos with variable frame rate?"
There are three videos, Video1 is the source video with variable frame rate. Video2 and Video3 are encoded videos from Video1. Video2 is constant frame rate and Video3 is variable frame rate. I want to know which one of Video2 and Video3 is better. So I use vmaf. But there is something wrong when compare with variable frame rate. How can I fix it?

[2018-03-30 14:14] nandakd commented on #103
Zhi,
Sorry for the confusion - resolving this issue. I realised the aspect ratios had been messed up during the downscaling/upscaling process. Even though all the resolutions were messed up, only the very small ones (224p) were giving obviously corrupted scores, such as zero VMAF, with the 720p and 1080p videos giving fairly plausible, but still incorrect scores. Thanks!

[2018-03-30 14:14] #103 closed

[2018-03-31 09:38] enctac commented on #143
This is probably a problem with ffmpeg.
 I sent a patch.

    ​http://ffmpeg.org/pipermail/ffmpeg-devel/2018-March/227312.html
    ​https://patchwork.ffmpeg.org/patch/8158/

This patch seems to work well.
But I am a beginner in programming.
I don't know the framework of ffmpeg well.
Please check it.

[2018-04-01 03:18] kylophone commented on #143
@entac, I'll take a look at your patch. Thanks!

[2018-04-01 04:19] kylophone commented on #143
Pushed to FFmpeg master.

[2018-04-01 04:19] #143 closed

[2018-04-01 11:43] enctac commented on #143
Thanks!

[2018-04-03 23:34] #148 closed

[2018-04-03 23:35] #147 closed

[2018-04-04 01:34] li-zhi commented on #145
@chrisdavis03 could you ask the same question in the FFmpeg-devel forum?

[2018-04-04 01:35] #144 closed

[2018-04-04 01:40] li-zhi commented on #142
Looks like your numpy may have screwed up. Have you tried to reinstall the packages (or do everything again in a virtual env)?

[2018-04-04 01:41] #141 closed

[2018-04-04 15:03] li-zhi commented on #139
@sonu1995 not exactly sure if I get your question, but you can input the same video as both distorted and reference.

[2018-04-04 15:05] #131 closed

[2018-04-04 15:47] li-zhi commented on #130
It is likely due to different versions of numpy/sklearn. Since the numerical error is small, I think you can safely ignore them.

About the question why you don't get a perfect score when using the same video as reference, an explanation is provided to the FAQ page at: https://github.com/Netflix/vmaf/blob/master/FAQ.md. Basically the ML-based approach doesn't guarantee that you have a perfect scor

[2018-04-04 15:56] li-zhi commented on #145
Re: enable_transform

Refer to the code here:
https://github.com/Netflix/vmaf/blob/master/wrapper/src/vmaf.cpp#L481

Basically it does a post processing (e.g. a 2nd-order polynomial point operation) on the predicted score. In some cases (e.g. phone viewing), you want to correct the score a bit to reflect the viewing condition.

[2018-04-04 16:01] #124 closed

[2018-04-04 16:02] #120 closed

[2018-04-04 16:09] li-zhi commented on #107
@skirsten did your fix resolve this issue?

[2018-04-04 16:15] #100 closed

[2018-04-04 16:17] #56 closed

[2018-04-04 16:18] #20 closed

[2018-04-12 16:41] LigH-de opened #157 "Available only for 64-bit architecture?"
As mentioned in issue #143, compilation was only possible for 64-bit architecture; compiling for 32-bit architecture failed due to "invalid EMMS intrinsics". Is that intentional? If so, it should at least be documented in the "prerequisited" chapter in the readme.

[2018-04-27 09:43] KevinJW opened #158 "Missing tag for API change"
Hi,

I was trying to build libvmaf for use withing ffmpeg and I note that there is no official tag for the API change, is it safe to assume that ba5356cb41cf3b19ca0bb108bd8e86e9da402f94 is the 'stable' commit for that ?

Thanks

Kevin

[2018-05-04 07:09] soulhdb commented on #111
my server has 16 cores,but when run libvmaf(do vmaf or psnr  or ssim) filter only use one,is there a problem?

https://github.com/Netflix/vmaf/issues/131
and just as the issues describe,   libavfilter/vf_libvmaf.c  line:320 “pthread_join(s->vmaf_thread, NULL);“  cause segment fault

CentOS +  ffmpeg4.0 + glibc2.17

[2018-05-04 09:40] KevinJW commented on #111
http://ffmpeg.org/pipermail/ffmpeg-devel/2018-April/229205.html contains a suggested fix for the pthread_join() issue in ffmpeg.

Kevin

[2018-05-04 09:43] GyanD commented on #111
Above patch available at https://patchwork.ffmpeg.org/patch/8699/

[2018-05-04 15:03] plambro commented on #65
A workaround I use for this is to `d.replace('}\n{','}\\{').split('\\')`
This replaces the break between results with a \\ and then splits into a list of readable json results. You can then iterate over that list and `json.loads()` each one, pull data and move on.

[2018-05-06 23:30] li-zhi commented on #158
@KevinJW Are you referring to the version bump in libvmaf.pc requested by @rbultje? 0.6.2 is still the latest version for the API, if that answers your question.

[2018-05-07 15:28] Asusio opened #160 "Same resolution, different bitrate VMAF still the same"
Hello,

I'm trying to use VMAF on Linux Ubuntu 16.04 with a 5 second video. I have this video in 1080p 60fps in different bitrate. When I'm trying to use VMAF to compare these videos to the original video which is a 4K 60fps 10Mbit/s. The mean score is approximattely always the same.

To use VMAF I first convert the video in a raw format, with this command:
`ffmpeg -i Video.mp4 -c:v rawvideo -pix_

[2018-05-07 17:18] li-zhi commented on #160
It's a bit hard to figure out what's going on. It seems like all the files are having close but not identical numerical results. I assume the 19Mbps one has high bitrate and should have VMAF close to 100, but you are getting a very low number. I suspect there is something wrong with the preprocessing, e.g. frame misalignment.

One way to try is before running ./run_vmaf, try ./run_psnr with the sa

[2018-05-08 07:37] Asusio commented on #160
Thank you for your answer.
First I did a mistake in my command, the resolution for the reference video is 4000*2250 so the result are differents but the problem is still the same.
I have tried with ./run_psnr and the same command but the result is approximately the same as VMAF.

Here are the result for 0.5Mbit/s and 19 Mbit/s with both command
`./run_vmaf yuv420p 4000 2250 'home/alexis/Desktop/ra

[2018-05-08 09:47] KevinJW commented on #158
I mean a git tag is missing, not the API version, I'm assuming that the commit mentioned above is the matching one for the API change. Without that I'd have to run from HEAD - which I don't like doing, I'd prefer some stable value that I can using in my build process.

FWIW, My use case is for building into FFmpeg, which was also broken but has now been patched in ffmpeg. So now it builds.

Thanks

[2018-05-08 13:29] li-zhi commented on #158
You are absolutely right. We made the API change some time ago but haven't been diligent enough to create a new tag (and release). I'll make a new release today. Thanks!

[2018-05-08 13:32] li-zhi commented on #160
If run_psnr still give you similar result then I think the issue is somewhere else rather than VMAF. Could you post your run_psnr result?

[2018-05-08 13:35] Asusio commented on #160
It's in the same file
(I'll delete the VMAF)

[output_x264_1080p60-0.5.txt](https://github.com/Netflix/vmaf/files/1984075/output_x264_1080p60-0.5.txt)
[output_x264_1080p60-19.txt](https://github.com/Netflix/vmaf/files/1984076/output_x264_1080p60-19.txt)

[2018-05-08 13:52] li-zhi commented on #160
PSNR of 10 means the source and distorted videos are out of sync. You may want to debug your decoding pipeline.

[2018-05-08 13:59] KevinJW commented on #158
No problems, it just took me a while to make sure I found a commit that made sense (only to find ffmpeg then crashed!).

Kevin

[2018-05-08 14:17] Asusio commented on #160
Ok thank you, when I'm using the 1080p60 at 19Mbps as a reference and distorted video I have ~99 with VMAF.
So the problem comes from my reference video.

[2018-05-08 18:42] #160 closed

[2018-05-09 09:55] Asusio commented on #160
Ok thank you, when I'm using the 1080p60 at 19Mbps as a reference and distorted video I have ~99 with VMAF.
So the problem comes from my reference video.

[2018-05-10 17:50] maxlazarov opened #161 "macOS dependencies no longer valid"
As of this March, Homebrew's `python` package installs Python 3, so the instructions in [the readme](../blob/master/README.md#macos) are no longer valid. Relevant Homebrew post: https://brew.sh/2018/01/19/homebrew-1.5.0/

[2018-05-13 07:28] ffleader1 opened #163 "AssertionError!"
I tried to run ./run_vmaf but it gave me this error. Please help.

![image](https://user-images.githubusercontent.com/15016720/39964965-1de351c6-56ba-11e8-9c9c-8adf0e50811d.png)

[2018-05-13 11:45] ffleader1 commented on #163
It seems that the high resolution caused the problem. My vid was 3840x2160. Dropped a 1080p video in and it runs fine.

[2018-05-14 07:08] DonTequila commented on #163
@li-zhi In a separate fork I had added ffmpeg support to the C code of vmafossexec wrapper by using popen. It's only supported on Linux, though. Is this still interesting for the public repo?

[2018-05-14 15:14] li-zhi commented on #163
@DonTequila for the ffmpeg support we have both the `ffmpeg2vmaf` tool and `libvmaf` as a filter for ffmpeg. I think that's enough. I'll soon port your multithread support to other tools as well.

[2018-05-17 01:47] Sissuire commented on #107
Currently I compiled the source code with VS2017, and I got the `vmafossexec.exe`. However, the input arguments include a variable named 'model_path'. How should I set this parameter?

[2018-06-05 17:58] #140 closed

[2018-06-08 23:21] SGShen opened #169 "Python error"
An error in "run_vmaf" happens from time to time. It happens randomly when invoke "./run_vmaf" in a loop. It seems a python problem.

Traceback (most recent call last):
  File "./run_vmaf", line 143, in <module>
    ret = main()
  File "./run_vmaf", line 107, in main
    runner.run()
  File "/home/sg/tools/vmaf/vmaf-1.3.5/python/src/vmaf/core/executor.py", line 125, in run
    self.results = map(s

[2018-06-08 23:31] christosbampis commented on #169
It looks like the denominator for the ADM feature was not calculated correctly and it returned None. You could place a break point and see why the result dictionary (result_dict) does not have a valid value for that key.

[2018-06-08 23:33] li-zhi commented on #169
[code]
It seems that the c executable hasn't generated results correctly. Since you run `run_vmaf` in a loop, I suspect that there are collisions in the intermediate files generated. I would recommend using `wrapper/vmafossexec` instead. See https://github.com/Netflix/vmaf#vmafossexec---python-independent-implementation

[2018-06-08 23:42] SGShen commented on #169
@li-zhi , @christosbampis, Thank you for your replies! I will try the wrapper later.

For now, does it help if I put some time gap in between the "./run_vmaf"? Also, for those successful "./run_vmaf", can I still trust the generated scores?

[2018-06-09 17:49] li-zhi commented on #169
It is really hard to tell, unless one digs into it to see what happened.

[2018-06-14 22:49] SGShen commented on #169
@li-zhi, I tried "vmafossexec" -- it is a lot faster than run_vmaf. But I noticed the SSIM, PSNR are different from the results from VQMT. Especially SSIM, the difference is somewhat big -- 0.99 vs. 0.89 (VQMT).  Would it be the formulas used by VMAF is not the same as that in VQMT? Thanks.

[2018-06-14 23:45] li-zhi commented on #169
There is an explanation on SSIM in the FAQ page at:
https://github.com/Netflix/vmaf/blob/master/FAQ.md

[2018-06-15 05:49] MukeshA1 commented on #111
Hi,
Is VMAF library now bundled with ffmpeg or do we still need to build it separately?  I am trying to use VMAF on windows OS.  Is there a way I can directly download the executable/library and integrate with ffmpeg on windows ( in case it is not bundled with ffmpeg)?
Thanks!

[2018-06-15 06:36] GyanD commented on #111
FFmpeg contains a wrapper for VMAF, but the library is separate and has to be linked. Pass `--enable-libvmaf` to ffmpeg's configure.

However, at the present time, I believe ffmpeg build with libvmaf HEAD will fail as the VMAF API has changed and the wrapper hasn't been updated.

[2018-06-15 06:54] MukeshA1 commented on #111
Hi Gyan,

At https://github.com/Netflix/vmaf , I see the instructions for getting the vmaf only for linux and mac os.  Any idea what I need to do to get the vmaf tool on Windows.  Is there any repository where the compiled version of the tool is present for Windows OS? ( As no instructions are mentioned for Windows OS, I am just worried whether there will be quite a few prerequisites for building

[2018-06-15 06:57] slhck commented on #161
I have to check, but does VMAF not work with Python 3?

One could also update the instructions to use the latest Python 2.7 shipped by Homebrew, but that does not seem like a good long-term solution.

[2018-06-15 06:59] slhck commented on #111
There is no pre-built version that I know of. Compiling ffmpeg under Windows is a little more complicated.

You may be able to use https://github.com/jb-alvarado/media-autobuild_suite which should enable libvmaf.

[2018-06-15 07:00] slhck commented on #161
@li-zhi you may assign this issue to me; I'll work on updating the instructions.

[2018-06-15 17:34] li-zhi commented on #111
@GyanD @MukeshA1 release v1.3.5 or v1.3.4 should still work with current FFmpeg build.

[2018-06-15 17:35] li-zhi commented on #161
@slhck Please go ahead. Thanks for the help!

[2018-06-16 17:49] #161 closed

[2018-06-18 15:09] Enchufa2 opened #173 "Question: citations"
Is there any preferred reference to cite VMAF in research articles?

[2018-06-19 13:37] stoyanovgeorge opened #174 "Inconsistency in the PSNR and VMAF calculation with vmafossexec wrapper"
I have compiled today VMAF from source and run the PSNR, SSIM, MS-SSIM and VMAF measurements
 against two yuv files.
The command I am using is the following:
[code]
And my output is:
[code]

I have also calculated the average of all the parameters using a simple python script and the average values are as follows:
[code]
I have run the same command but this time using the same files this times pac

[2018-06-19 17:17] li-zhi commented on #174
Hi,
`vmafossexec` only takes raw YUV without container header. So you can't input the NUT files to `vmafossexec`. However, there is a tool at the root called `ffmpeg2vmaf` that can take the NUT file as input. The motion2 number looks suspicious and need some further digging. PSNR needs some further digging too. Try the `run_psnr` tool under the root, which takes the raw YUV file.

Re the VMAF vers

[2018-06-19 17:21] li-zhi commented on #173
I am working on a revamp of the documentation. Stay tuned. In the mean time, the tech blog post is the preferred reference: https://medium.com/netflix-techblog/toward-a-practical-perceptual-video-quality-metric-653f208b9652

[2018-06-20 08:05] stoyanovgeorge commented on #174
Yesterday I have also tried to calculate the result with `ffmpeg2vmaf` and the result was the same for both the .nut and .yuv file, but the calculation took considerably more time, since it the ffmpeg doesn't use all cores. The motion2 score is still very low though 0.0464 .

ffmpeg2vmaf results for NUT file:
[code]

vmafossexec results for the YUV file:
[code]
I have run the `run_psnr` as you hav

[2018-06-20 08:20] stoyanovgeorge commented on #174
I have just noticed that right now I am also unable to compile ffmpeg both 4.0 and the most recent git head with libvmaf support. I am getting the following error:
[code]
And this happened after I have updated VMAF from VDK 1.35 to 1.3.6 yesterday.

[2018-06-20 12:49] stoyanovgeorge commented on #174
I have just downgraded the VMAF version to VDK 1.3.4 and now I am able to compile ffmpeg both v.4 and the latest nightly with libvmaf support and it outputs the same result for both the nut and yuv files. which is exactly the same result if I am using ./vmafossexec on yuv files. So I presume ffmpeg is not compatible from VDK v.1.3.5 onwards.

[2018-06-20 13:09] GyanD commented on #174
Yes, compute_vmaf ( ) was changed and the ffmpeg filter hasn't been updated.

[2018-06-20 13:33] stoyanovgeorge commented on #174
So I have made an experiment and VDK 1.3.5 is causing segmentation fault on both ffmpeg v.4.0 and the latest nightly while 1.3.6 and probably 1.3.7 is preventing compilation of ffmpeg with VMAF support both v.4.0 and latest nightly.

[2018-06-20 15:03] li-zhi commented on #174
From what have been reported, the set below seems to be the right result:

ADM2: 0.9828
Motion2: 0.0464
VIF Scale0: 0.6618
VIF Scale1: 0.9437
VIF Scale2: 0.9708
VIF Scale3: 0.9815
VMAF: 91.0795
PSNR: 40.7593dB
SSIM: 0.9919
MS-SSIM: 0.9919

On Wed, Jun 20, 2018 at 6:33 AM George Stoyanov <notifications@github.com>
wrote:

[2018-06-20 16:06] stoyanovgeorge commented on #174
@li-zhi yes, but the motion vector score seems to be incorrect and then why the PSNR and SSIM calculated by ffmpeg are lower? Isn't it supposed to report the same results? This is also creating inconsistency with ffmpeg, since if you are using the libvmaf to calculate the PSNR and SSIM the results are different compared to when you are using the dedicated PSNR and SSIM filters in ffmpeg.

[2018-06-20 16:11] li-zhi commented on #174
@stoyanovgeorge the `vmafossexec`, `run_vmaf` and `run_psnr` only take in raw YUV videos, which is not the NUT format. Not sure about the motion score unless the video is available for testing.

[2018-06-21 07:07] stoyanovgeorge commented on #174
@li-zhi I understood that but
1. The PSNR and SSIM scores when analyzing YUV content are higher compared to the PSNR and SSIM scores of the same YUV files analyzed with FFMPEG.
2. the libvmaf support for ffmpeg is broken from VDK 1.3.5 onwards, 1.3.5 you are able to compile ffmpeg with libvmaf support but when trying to use it it gives a segmentation fault and ffmpeg doesn't compile with VDK 1.3.6

[2018-06-21 17:17] li-zhi commented on #174
@stoyanovgeorge on 1.:
I tried two commands:
[code]
They do give different results for Y-PSNR: 30.755064 vs. 30.66. My speculation is that this is to do with how the per-frame PSNR values get aggregated into the final value. In `run_psnr`, the per-frame PSNR value is calculated, and their mean value is reported. In some alternative implementation (I am not sure if it is the case for `ffmpeg`), the

[2018-06-21 22:24] jessp01 opened #177 "FFmpeg VMAF v1.3.5 - Segfault"
Hello VMAF team,

When linking FFmpeg against libvmaf.a built from [1.3.5](https://github.com/Netflix/vmaf/releases/tag/v1.3.5),  the following results in a segfault:
[code]

This works correctly with v1.3.4.
If you need a full reproduction, please use https://gitlab.com/jessp011/fully-static-ffmpeg-build.
Simply edit https://gitlab.com/jessp011/fully-static-ffmpeg-build/blob/master/env.rc#L20 and

[2018-06-21 22:52] kparkins opened #178 "Invalid type when compiling FFMPEG using VMAF header"
vmaf/wrapper/src/libvmaf.h

#ifdef __cplusplus
extern "C" {
#endif

int compute_vmaf(double* vmaf_score, char* fmt, int width, int height, int (*read_frame)(float *ref_data, float *main_data, float *temp_data, int stride_byte, void *user_data),void *user_data, char *model_path, char *log_path, char *log_fmt, int disable_clip, int disable_avx, int enable_transform, int phone_model, int do_psnr,int

[2018-06-22 17:49] kparkins commented on #178
This is probably not really in scope for this repo however, VMAF > 1.3.4 still does not compile with FFmpeg even with the proposed fixes. This is due to the fact that extra parameters were added to the compute_vmaf function and the arguments have not been added to the corresponding files in libavfilter within FFmpeg.

int compute_vmaf(double* vmaf_score, char* fmt, int width, int height, int (*rea

[2018-06-22 17:54] li-zhi commented on #178
Understood. This requires the effort from the ffmpeg side to update the code.

@rbultje could you help pass the message?

[2018-06-22 18:00] rbultje commented on #178
Already known: http://trac.ffmpeg.org/ticket/7264

[2018-06-22 18:03] kylophone commented on #177
Investigating. Thanks for the report.

[2018-06-24 03:15] #178 closed

[2018-06-25 01:44] Allen1207 opened #181 "how to build vmaf in xcode"
Dear all,

I'm using mac os, and I want to study the source code of vmaf, when I open the Xcode/vmaf_xcode.xcodeproj file in Xcode and build it, the building failed with a lot of error and warnings. Therefore I want to ask is there any instruction that how to build vmaf in xcode ? Thank you.

Allen

[2018-06-25 02:31] li-zhi commented on #181
@yuhjay
The xcodeproj file was created a while ago. Things may have changed. Would you like to bring the project file up-to-date?

[2018-06-25 03:03] Allen1207 commented on #181
Dear li-zhi, yuhjay,

I will appreciate it if you can provide the xcode project file, or Is there any other IDE to compile, or debug the vmaf code in mac os ? Thank you.

[2018-06-25 04:48] yuhjay commented on #181
I guess Eclipse or CLion might be an alternative to XCode.
Both of them should convert Makefile to their own projects and compile the code with clang.
Joe

Sent from my iPad

[2018-06-25 08:03] stoyanovgeorge commented on #177
the libvmaf support for ffmpeg is broken from VDK 1.3.5 onwards, 1.3.5 you are able to compile ffmpeg with libvmaf support but when trying to use it it gives a segmentation fault and ffmpeg doesn't compile with VDK 1.3.6 and 1.3.7, the last working version of libvmaf is 1.3.4. According to the ffmpeg developers the API has changed in VDK 1.3.5 onwards.

[2018-06-27 19:31] SGShen opened #183 "Windows support?"
Can VMAF be built for Windows 10? Thx.

[2018-06-27 20:17] li-zhi commented on #181
@yuhjay Should we remove the xcode project file, if it is no longer maintained?

[2018-06-27 21:08] yuhjay commented on #181
Yes, please remove the current one. I will update a new one if I can focus on this.

Thanks.

Sent from my iPhone

[2018-07-04 05:29] kasivisu82 opened #184 "FFMPEG + VMAF - Enable on Windows"
Hi,

i've trying to enable vmaf on ffmpeg on windows 10. i understand that i need to build vmaf first and then link that to ffmpeg and build ffmpeg again.

Can someone give me the exact steps on how to do that?

[2018-07-05 03:18] ray-x opened #185 "Library link issue: wrong read_frame() was called when run in ffmpeg"
There are a few read_frame() functions
one provided by common/frame.c
int read_frame(float *ref_data, float *dis_data, float *temp_data, int stride_byte, void *s)

Also, in combo_threadfunc, it should use the read_frame provided by ffmpeg read_frame_10bit or read_frame_8bit

The trick thing is in
combo.c:177   ret = read_frame(ref_buf, dis_buf, temp_buf, stride, user_data);
It should call ffmpeg r

[2018-07-05 05:17] ray-x opened #186 "ffmpeg(master) arguments do not match libvmaf compute_vmaf()"
There is a tick in ffmpeg
https://trac.ffmpeg.org/ticket/7248

But giving that vmaf is actively working on new features. It maybe better to add default values in the compute_vmaf arguments list (especially for the new arguments).
ffmpeg master:
    s->error = compute_vmaf(&s->vmaf_score, format, s->width, s->height,
                            read_frame, s, s->model_path, s->log_path,

[2018-07-05 09:44] isluckyguo opened #187 "How to use VMAF in windows?"
I want to use VMAF to assess video quality.But not successed. Can you give me some guidance?

[2018-07-10 06:52] Allen1207 opened #190 "the training data for 'model/vmaf_v0.6.1.pkl'"
Dear Zhi Li,

I noticed that you kindly provided  two sample datasets for training and testing. Thank you very much.
May I ask that did you train the default model such as 'model/vmaf_v0.6.1.pkl' by using that sample dataset you published ? If not, how did you train the model you provided such as 'model/vmaf_v0.6.1.pkl', how many video sequences did you used ? what are they ?

I just tried to run

[2018-07-10 12:57] Allen1207 opened #191 "training and testing"
Dear Zhi Li,

If I train a model using the 'run_vmaf_training' process with some dataset, and then I run the 'run_testing' process with that trained model and the same dataset. Will I get the same results (SRCC, PCC, and RMSE) ?
I thought the results should be the same, but actually they are sometimes different, especially for the RMSE number. The maximum difference I have found is 3% for the RMSE

[2018-07-12 09:15] movie-travel-code opened #192 "Useless assignment found by static analyzer?"
Hi all,
This is Qihoo360 CodeSafe Team, we found a useless assignment in `svm.cpp`, see
https://github.com/Netflix/vmaf/blob/0b21fdf69e6474bf2e758f68c11a992286727d20/libsvm/svm.cpp#L2886.

The return value of `strtok(line, ":")` assigned to `p`, and this value is never read!

I don't know the purpose of doing this.

Although this is not a fatal issue, I'd like you to help me to confirm this, @li-z

[2018-07-12 11:19] 360CodeSafe opened #193 "Check after use issue found by static analyzer?"
Hi all,
This is Qihoo360 CodeSafe Team, we found another check after use issue in `main.cpp`, see
https://github.com/Netflix/vmaf/blob/0b21fdf69e6474bf2e758f68c11a992286727d20/wrapper/src/main.cpp#L128.

`s` is allocated at https://github.com/Netflix/vmaf/blob/0b21fdf69e6474bf2e758f68c11a992286727d20/wrapper/src/main.cpp#L67, from line 67 to line 128, `s` has not been reassigned. However `vmaf` ch

[2018-07-12 16:20] Allen1207 commented on #192
Hi ,

I think this code was written by the libsvm project :
https://github.com/cjlin1/libsvm

Here vmaf project just reused their code.

Best Regards,
Allen

[2018-07-12 19:39] li-zhi commented on #191
This is due to the slightly different workflows used by `run_vmaf_training` and `run_testing`. In `run_vmaf_training`, the feature scores (elementary metric scores) from each frame are first extracted,  each feature is then temporally pooled (by arithmetic mean) to form a feature score per clip. The per-clip feature scores are then fit with the subjective scores to obtain the trained model. The re

[2018-07-12 19:56] li-zhi commented on #190
Unfortunately, we will not be able to share the dataset used for training `vmaf_v0.6.1.pkl` due to copyright issues.

I am working on a revamp of the documentation. There will be a section "Models" where I will give more detailed description on how each model has been trained.

[2018-07-13 00:35] li-zhi commented on #193
Thanks for the report. I do not feel this is a major issue to be fixed. Line 128 is a safeguard awaiting future code change. It doesn't warrant the move to line 68.

[2018-07-13 00:36] li-zhi commented on #192
Since this is 3rd-party code, we'll just leave it as is.

[2018-07-13 01:58] 360CodeSafe commented on #192
Hmm, sorry, I didn't realize this before :)

[2018-07-13 01:59] 360CodeSafe commented on #193
@li-zhi Thanks for your explanation, it make sense to me!

[2018-07-13 05:29] Allen1207 commented on #190
Hi , Zhi Li

Thank you for your reply. I understand the copyright issue, and I'm looking forward to your revamp of the documentation.

Best Regards,
Allen

[2018-07-13 05:36] Allen1207 commented on #191
Thank you very much for your detailed explanation . I will go deep into the code as you said to see the difference.

[2018-07-14 21:37] nergdron opened #194 "provided tools only process ~6 frames of video?"
I've been trying to do some x265 quality tests using the vmaf tools, both the python library and the c++ exec wrapper. however, both of them seem to quit processing the clips I've produced after a relatively small number of frames, so that the resulting data for different clips have almost identical scores, even though a quick look at the output files shows they're very different in quality.

the

[2018-07-15 01:46] nergdron commented on #194
oh and for comparison, here's the VMAF scores for these clips, at CRF values of 32 and 16 (so, wildly different quality):

32: 86.58654124861614
16: 86.58654377224555

[2018-07-15 01:54] li-zhi commented on #194
What's the command lines you have been using? I suspect that your used compressed stream as input, but VMAF takes in only uncompressed YUV videos, except for `ffmpeg2vmaf`.

[2018-07-15 02:03] nergdron commented on #194
ahhh yes. the source and target are both x265 mkv streams. so who knows how it's interpreting it. I'm surprised it got 6 "frames" in then! I gather there's currently some patch issues with the ffmpeg builds that include vmaf, and ffmpeg is notoriously tricky to build because of all the deps anyway. this makes sense though, thanks.

[2018-07-15 18:02] #194 closed

[2018-07-16 22:16] li-zhi commented on #153
Hi all,

I've created a page to track the reference to VMAF. Hope this help with sharing the knowledge of VMAF more easily. Let me know if you think anything is missing.

https://github.com/Netflix/vmaf/blob/master/resource/doc/references.md

Zhi

[2018-07-16 22:29] li-zhi commented on #187
Please be more specific on the questions.

[2018-07-16 22:33] li-zhi commented on #173
I've added a references page to a list of VMAF-related blogs/papers/presentations at:
https://github.com/Netflix/vmaf/blob/master/resource/doc/references.md

[2018-07-16 22:34] #169 closed

[2018-07-16 22:34] #163 closed

[2018-07-16 22:35] #158 closed

[2018-07-16 22:35] #145 closed

[2018-07-17 01:48] mht13 commented on #153
Joe,

First, the codename was cleared up months ago - maybe you missed it.

I am not looking for general data on data fusion and basic machine learning or tech blogs but a technical paper.

What I am assuming is that VMAF uses data fusion to combine several computational metrics, plus perceptual scores. Using which ITU protocol? If you look at the ITU references they seem a rough average between d

[2018-07-17 09:58] martin90s opened #196 "ffmpeg with vmaf"
I am trying the test the ffmpeg with vmaf, but when i try to execute the command:
[code]
will get the error:
[code]

Is there anyone could take a look? thanks in adv.

[2018-07-17 15:41] kylophone commented on #196
try `./configure --enable-vmaf --enable-version3`

[2018-07-18 09:58] nandakd opened #197 "Threading speedup not available with ffmpeg2vmaf"
Is the speed improvement with threads=0 only available for the vmafossexec wrapper? It's not available with ffmpeg2vmaf?

[2018-07-18 19:02] li-zhi commented on #197
Unfortunately it is not yet available. It involves migrating the multithreading logic from `wrapper/src/combo.c` to `feature/src/all.c`.

An alternative approach is to modify the script `ffmpeg2vmaf` to replace `VmafQualityRunner` class with `VmafossExecQualityRunner`. This way, it pipes the FFmpeg output to `vmafossexec`.

[2018-07-18 22:08] DonTequila commented on #197
If you are on Linux you can take a look at my fork. I added reading the source frames from a ffmpeg pipe into the vmafossexec wrapper. If this is interesting I can make it more generic and create a pull request (had asked li-zhi before). I don't think it will work on Windows though because I couldn't find a way to get popen on Linux.
https://github.com/DonTequila/vmaf

[2018-07-18 22:12] DonTequila commented on #197
If you are on Linux you can take a look at my fork. I added reading the source frames from a ffmpeg pipe into the vmafossexec wrapper. If this is interesting I can make it more generic and create a pull request (had asked li-zhi before). I don't think it will work on Windows though because I couldn't find a way to get popen on Windows.
https://github.com/DonTequila/vmaf

[2018-07-18 23:43] li-zhi commented on #197
@DonTequila yes that will be helpful. Please feel free to create a pull request.

[2018-07-19 05:36] nandakd commented on #197
@DonTequila and @li-zhi , thanks - that will be very helpful.

[2018-07-19 07:22] #196 closed

[2018-07-22 07:04] MSucharitha opened #199 "Installation on Ubuntu is not successful,after entering Geographic area as US nothig is happening"
Please help me in installation.

[2018-07-24 07:38] zjh8890 opened #200 "build errors for vs2015 project while open multi-thread"
We should change  pthread_t thread[combo_thread_data.thread_count] to pthread_t thread[MAX_NUM_THREADS], and add cpu_info.c and  blur_array.c to vmafossexec project to build vs2015 successfully.

[2018-07-26 20:56] ChanceLeachman commented on #199
Hi, I've found the Dockerfile not working too. My workaround was to add this above where python-tk is installed:

ENV TZ=America/Los_Angeles
RUN ln -snf /usr/share/zoneinfo/$TZ /etc/localtime && echo $TZ > /etc/timezone

You can replace Los_Angeles with your time zone.

[2018-07-26 21:02] ChanceLeachman commented on #199
Additionally, I found that I needed to replace RUN cd dir commands with WORKDIR dir.

[2018-07-27 02:33] li-zhi commented on #199
@ChanceLeachman would you like to submit a fix?

[2018-07-27 17:44] ChanceLeachman commented on #199
Sure! Will try to submit a pull request later today.

[2018-07-27 21:41] svijay05 opened #203 "Is there any option to log the vmaf score of every individual frame ?"

[2018-07-30 21:33] christosbampis commented on #203
I believe that the per-frame scores can be found in the xml/json output if you follow this link: https://github.com/Netflix/vmaf/blob/master/resource/doc/VMAF_Python_library.md (search for basic usage)

[2018-07-31 20:27] christosbampis commented on #203
Are you looking for an output containing only per-frame VMAF scores? Because in the attached json file, there are the per-frame key value pairs for VMAF predictions, so you can easily extract those from this JSON file.

[2018-07-31 20:48] svijay05 commented on #203
3 min test video with 30 frames per second has ~5400 frames, but the generated output includes only the score of the first 13 frames. That's what I meant.

[2018-07-31 21:03] christosbampis commented on #203
It seems to me that the number of frames is not correct. What is the command that you are using to generate this json file?

[2018-07-31 21:27] christosbampis commented on #203
This command line seems ok to me, can you confirm that the input videos are YUV420p and 1920x1080?

[2018-08-01 10:03] RonLu commented on #177
I have reverted to use libvmaf 1.3.4 with ffmpeg 4.0.2 according to your discussion.
I got libvmaf 1.3.4 from https://github.com/Netflix/vmaf/archive/v1.3.4.tar.gz
and ffmpeg 4.0.2 from http://ffmpeg.org/releases/ffmpeg-4.0.1.tar.gz;
I then compiled the ffmpeg 4.0.2 with libvmaf 1.3.4 successfully.
However when I ran the following command, I still got segmentation fault error.
./ffmpeg -i 11.mp4 -

[2018-08-01 12:44] RonLu commented on #177
Hi @jessp01,
Thanks for the quick response!  I haven't try your build process yet. But I went to try gdb with my current build and got the following backtrace:

Program received signal SIGSEGV, Segmentation fault.
0x00007ffff74ef84e in pthread_join () from /lib64/libpthread.so.0
(gdb) bt
#0  0x00007ffff74ef84e in pthread_join () from /lib64/libpthread.so.0
#1  0x0000000000413842 in uninit (ctx=<op

[2018-08-01 13:56] jessp01 commented on #177
Hi @RonLu,

That's a different problem, obviously, so I would suggest opening a separate issue for it and attaching the BT.
@kylophone - any progress in regards to the problem I reported, BTW?

[2018-08-02 03:09] RonLu commented on #177
Hi @jessp01，
Thanks for the suggestion. I manually fixed the vf_libvmaf.c and recompiled. It's ok now. I can get the VMAF score using the ffmpeg command.
So this is an ffmpeg problem. Do you know how to open issue to ffmpeg? I didn't see a way to do so in git?

[2018-08-02 03:29] kylophone commented on #177
@RonLu, @jessp01: I was planning to (finally) look at this tonight, but it seems like @RonLu already has a fix. @RonLu, can you share your ffmpeg diff? I can make sure it gets pushed upstream.

[2018-08-02 04:31] RonLu commented on #177
Hi @kylophone,
My fix is exactly what the commit 51775bc1cdeff04b836422be66e8098146aedcce (avfilter/vf_libvmaf: the libvmaf filter tried to join on an invalid t…) did which was committed on 30 Apr.  You can have a look here - https://github.com/FFmpeg/FFmpeg/commit/51775bc1cdeff04b836422be66e8098146aedcce.
The problem is this commit was not included in the ffmpeg 4.0.1 or ffmpeg 4.0.2 source code.

[2018-08-02 11:47] jessp01 commented on #177
Also, @kylophone, please look at the different BTs and descriptions. @RonLu's issue is different to mine.
His report is about 1.3.4 which, for me, works correctly. My issue was introduced in 1.3.5, please see the commit I referenced.

@RonLu - as per your question, FFmpeg's bug tracker is here https://trac.ffmpeg.org

[2018-08-02 13:50] svijay05 commented on #203
Thanks for your time  @christosbampis, VMAF works perfectly, was an issue with the  YUV encoding.

[2018-08-02 13:50] #203 closed

[2018-08-03 12:22] liuxj901103 opened #205 "How to compute DMOS?"
Hi,I want to creat my own data set. But I don't know how to compute DMOS.More  detailed,I want to know how to normalized my score to  the range 0 to 100 from the range 1 to 5?

[2018-08-07 08:00] RonLu opened #206 "Can I complete transcoding and computing VMAF score in one single command?"
Hi,
To compute the VMAF score of a video using FFmpeg, normally, I think the process is of three steps:
step1: transcode the origin video into the distorted video;
step2: transcode the distorted video to be of the same resolution with the origin video;
step3: compute the VMAF score of the distorted video using ffmpeg -lavfi libvmaf command.

Is my understanding correct?

And is it possible that I

[2018-08-07 17:51] kylophone commented on #206
With FFmpeg at least, generally it's a two step operation.

https://stackoverflow.com/questions/45729010/ffmpeg-feeding-output-of-encode-operation-to-filter

[2018-08-08 08:31] slhck commented on #205
You can convert from 1–5 to 0–100 linearly: `y = 100*((x-1)/4)` where `x` is your original score.

However, the meaning of DMOS depends on your original test. Did your test include hidden reference videos (e.g., ACR-HR method)? Or did you just show different degraded videos without a reference?

[2018-08-08 09:16] liuxj901103 commented on #205
Thank you for your reply. I noticed such a description in the file vmaf/resource/doc/models.md, that is "The raw subjective scores collected are then cleaned up using the MLE methodology, as described in [SUREAL](https://github.com/Netflix/sureal). The aggregate subjective scores after clean-up are mapped to a score in the VMAF score, where "bad" is mapped to roughly score 20, and "excellent" to 1

[2018-08-08 09:28] slhck commented on #205
Ah, I hadn't seen that – if VMAF originally has not been mapped to subjective scores such that 0 corresponds to the absolute worst rating, that leaves some "negative headroom" for lower scores. As to why that was being done, I can only guess, as it is not strictly necessary. Perhaps one of the developers can weigh in.

[2018-08-08 09:39] liuxj901103 commented on #205
Got it. Thanks.

[2018-08-08 09:46] slhck commented on #206
There is no such option for VMAF, as it is an external library, and thus available through the respective filter only, once ffmpeg is compiled with support for it.

If you would like such an option for ffmpeg, VMAF would have to be added as a core function in `ffmpeg`, which is a little unlikely as it's 1) an ever-changing model (unlike PSNR), 2) much more complex to calculate (PSNR is just a few

[2018-08-08 14:50] jessp01 commented on #177
Hi @kylophone,

This patch with VMAF 1.3.9 resolves the issue.

[2018-08-08 17:29] kylophone commented on #177
Cool. Thanks.

[2018-08-08 17:29] #177 closed

[2018-08-08 17:30] kylophone commented on #206
I'm going to close this issue for now. Feel free to @ me if you have any more questions about this.

[2018-08-08 17:30] #206 closed

[2018-08-08 17:31] kylophone commented on #185
Should be fixed in v1.3.9. Thanks for the report!

[2018-08-08 17:31] #185 closed

[2018-08-08 17:31] kylophone commented on #185
see also: http://ffmpeg.org/pipermail/ffmpeg-devel/2018-August/233012.html

[2018-08-08 17:32] kylophone commented on #186
http://ffmpeg.org/pipermail/ffmpeg-devel/2018-August/233012.html

[2018-08-08 17:32] #186 closed

[2018-08-08 17:45] jessp01 commented on #177
Cheers, @kylophone. If anyone is interested, I now apply the patch in my project here:
https://gitlab.com/jessp011/fully-static-ffmpeg-build

[2018-08-08 18:36] li-zhi commented on #205
@slhck @liuxj901103 The reason why we map 1 (bad) to 20 instead of 0 is to hope to leverage the extrapolation power of the predictor to cover wider range of quality at the low end.

In fact, if you are training a new model, the mapping into [0, 100] is not strictly necessary. The predicted score will just stay in its original scale of 1-5. You can further disable the 'clipping' in the training par

[2018-08-08 18:42] slhck commented on #205
Thanks for your explanation! However, would the same logic not apply to the upper end of the scale as well? Thinking about subjective tests we've conducted, and also some requirements from industry vendors that we hear often, we'd always notice that:

1. what constitutes a "bad" clip does not really change for subjects, if you include sufficiently low quality stimuli in the test, and
2. that vendo

[2018-08-09 03:57] ShichangXu opened #208 "VMAF computation for phone model where the source is 480p"
We are trying to use VMAF to evaluate the video quality of some ABR stream encodings.
We are doing this for mobile devices/phones.
The reference video sources are either 720p or 480p.
We use these to create the ABR track ladders at different resolutions.

We have a question on whether to upscale the reference and encoded tracks before applying VMAF on **mobile models**.

We read the [FAQ](https://

[2018-08-14 19:05] li-zhi commented on #208
Hi @ShichangXu, The VMAF v0.6.1 TV model and its phone model variant are both designed for 1080p sources. The TV model assumes a viewing distance of 3x display height (or "3H"). Essentially, the TV model can be considered as a "60 pixels per degree" model, which means that it assumes that 60 pixels is packed into one degree of viewing angle. If you apply the geometry, you can find that it equally

[2018-08-16 23:44] ShichangXu commented on #208
Thank you very much for your suggestions. This is very helpful. I now have a better understanding.

I have a few follow up questions.

1. You suggested to downscale both sources and tracks to 480p in our use case (phone model).
This is different from your suggestions for the TV model in the FAQ, which suggests upscale the sources and tracks to 1080p. Could you help me understand the intuition behi

[2018-08-17 03:11] ray-x opened #211 "Incorrect PSNR (and so it is vmaf ) values in yuv422p10le format"
It was run in ffmpeg (master build)
Commands:
ffmpeg  -f rawvideo  -pix_fmt yuv422p10le  -video_size 1920x1080 -i video1.yuv  -f rawvideo  -pix_fmt yuv422p10le  -video_size 1920x1080   -I video2.yuv   -lavfi libvmaf="psnr=1:log_fmt="json":log_path=comp.json" -vframes 1 -y -f null -

The psnr value is 18.0 which is very bad. But if run in ffmpeg directly with
ffmpeg  -f rawvideo  -pix_fmt yuv422p10

[2018-08-17 18:03] li-zhi commented on #208
Regarding your questions:

1. By upscaling to 1080p, the intention is to match the viewing condition of 3H. In typical phone viewing conditions, the viewing distance is typically longer than that, e.g. 5H. Note that I suggested that you use the TV model at 480p, not the phone model at 480p. The latter one will be overcorrecting.

2. I suggest that for 720p sources, you also downscale them to 480p.

[2018-08-22 19:10] cosmin commented on #197
At this point I would recommend switching to `ffmpeg` with `libvmaf` (if you have the option to compile your own ffmpeg) rather than using `ffmpeg2vmaf`, because this does take advantage of multi-threading which makes a big difference, or if not then wrapping `vmafossexec` in ffmpeg pipes. It's hard to imagine why anyone would use `ffmpeg2vmaf` at all at this point.

[2018-08-22 19:13] cosmin commented on #174
FYI @stoyanovgeorge as of 8/7 the latest ffmpeg snapshot can be compiled against the latest libvmaf release, and it works great.

[2018-08-22 19:14] cosmin commented on #111
Latest snapshot of ffmpeg (as of 8/7 I believe) will compile against latest libvmaf (1.3.9). I think this issue can be closed.

[2018-08-22 19:26] cosmin commented on #155
@mengxuewei you won't be able to compare videos of different frame rates together since VMAF performs frame by frame comparisons. You might be able to use ffmpeg to change both the source and the target to the same constant frame rate and then compare those.

[2018-08-22 19:28] cosmin commented on #199
This appears to be fixed in latest master, and the issue can probably be closed.

[2018-08-22 23:58] li-zhi commented on #197
@cosmin I agree. The ffmpeg with libvmaf filter should be the paved path forward.

[2018-08-23 05:38] ray-x opened #215 "vmaf json output has nan in value field"
From http://json.org
NaN is not valid json value.  "A value can be a string in double quotes, or a number, or true or false or null, or an object or an array. These structures can be nested."
But my vmaf output has following key/value:
    {
      "frameNum":49,
      "metrics":{
        "adm2":0.88962,
        "motion2":24.67111,
        "psnr":25.72294,
        "ssim":0.75942,
        "vif_scale

[2018-08-23 05:55] li-zhi commented on #215
This is unexpected. Did you run `run_vmaf` or `vmafossexec`? The former one calls Python's native `json.dumps()` method. The latter one calls a third-party library called `ptools` to out JSON.

[2018-08-23 06:42] ray-x commented on #215
It was run through command line/lavfi filter of ffmpeg:
ffmpeg -r 30  -ss 00:00:0.466667  -i "CQ_1080p30.mov" -ss 00:00:0.000000  -r 30 -i "CQ_1080p30.mp4" -lavfi libvmaf="psnr=1:ssim=1:log_fmt="json":log_path=CQ_1080p30.json" -y -f null -

[2018-08-23 07:03] nandakd commented on #119
Thanks, will check that out as well

[2018-08-23 17:08] li-zhi commented on #215
ffmpeg with libvmaf uses the same code path as vmafossexec. The `ptools` library needs to be updated to resolve it. I am marking this issue as `help wanted`.

[2018-08-24 01:54] ShichangXu commented on #208
Thanks a lot for your response.

Sorry for the confusion. We are not trying to do any comparison between tracks with 720p reference and 480p references.
Instead, we want to get an estimate of the track ladder encoding quality for a given source reference.

Say we focus on using 720p reference videos.

One question is how we should compute the VMAF so that the VMAF value can be accurately mapped to

[2018-08-25 03:34] li-zhi commented on #208
The main difference between (1) and (2) is that because the different resolutions used (1080p vs. 720p), the implied viewing distance is different (3H vs. 4.5H). The corresponding VMAF scores of 30.82 (roughly between "bad" and "poor") and 50.83 (between "poor" and "average")  make sense, since for the latter one with a longer viewing distance, more encoding/scaling artifacts have been hidden, res

[2018-08-28 12:51] RonLu opened #217 "VMAF score of zero"
Hi,

I'm using ffmpeg with libvmaf to compute the vmaf score of transcoded video. But for some videos, I got a vmaf score of zero. I have checked the frames of the two videos, didn't find any significant difference. It's strange i always got a score of zero. Could you give some help on this? Thanks.

here is the vmaf json file:
[comp3.txt](https://github.com/Netflix/vmaf/files/2328032/comp3.txt)
(

[2018-08-28 16:13] li-zhi commented on #217
Hi, I looked at the json file you attached. The PSNR score is also low: around 25 dB. Does the total frame number of 224 match your expectation?

[2018-08-29 02:37] RonLu commented on #217
Yes, the video duration is 8.96s and fps is 25, so total frame number of 224 is expected.
The PSNR score is low is because the transcoded video is of 114p and 100k bitrate so its quality comparing to the original video is quite bad. However I don't expect VMAF score should be 0 for this case?

[2018-08-29 10:08] RonLu commented on #217
The 114p should be 144p. A typo.
And if I transcode the ref-3.mp4 to a video of 144p but 340k bitrate, I got a VMAF score of 1.046575.
It seems for 144p videos, no matter what bitrate I give, the VMAF is always close to zero. Is this the expected behavior of VMAF?

[2018-08-29 15:31] li-zhi commented on #217
The low score is expected. The resolution 144p is very low compared to the original source resolution. The low score mainly reflects the scaling artifact that impairs subjective quality.

[2018-08-30 07:07] common1994 opened #218 "Vmaf can't be compiled on windows system"
Hi, I opened vmaf.sln in the vmaf root directory and tried to compile vmaf in windows, but I encountered a compilation error in the figure below, which is only part of all compilation errors.

My question is:
    Can I compile static libraries in windows, such as libvmaf.lib?

![image](https://user-images.githubusercontent.com/17662241/44834889-f613cd00-ac64-11e8-97d9-b635c955777b.png)

[2018-08-30 07:23] idxa opened #219 "vif of scale"
Hi, is there any reference to the modified vif,  why use 4 scale vif  to build the final vmaf score?

[2018-08-31 02:42] #217 closed

[2018-08-31 05:57] RonLu opened #220 "VMAF score for "good" quality"
Hi,

In phone model, when we use VMAF to evaluate the quality of transcoded videos, if the original video is 1080p, what score is seen as "good" quality for different downscaled resolutions like 144, 240, 288, 360, 480, 720, and 1080?

For example, for 144, score of 1 is seen as good? And for 720, score of 85 is seen as good?

Could you give the recommendation? Thanks a lot!

[2018-09-01 03:26] liuxj901103 commented on #106
Hi, I have the same confusion.Have you got the anwser?

[2018-09-01 13:57] lu-zero opened #221 "libvmaf.pc should be templatized"
`libdir` and `prefix` should match the variables passed by `make`.

[2018-09-01 19:55] kylophone commented on #221
I agree. I'll create a PR.

[2018-09-03 04:27] liuxj901103 opened #222 "How to reject subjective score?"
Hi, I have got some raw subjective scores by my subjective tests , but some of the scores were nosiy. With the algorithm of subjective rejection(SR_DMOS), I could not reject any observer. Also I Tried MLE, which could get Subject bias, Subject inconsistency, Content ambiguity,Outliers. I could not figuer out what was the meaning of the above parameters.  I still don't know how to recover quality s

[2018-09-03 06:32] slhck commented on #222
How do you know that some of your scores were noisy?

You can find an explanation [in the paper](https://github.com/Netflix/sureal/blob/master/resource/doc/dcc17v3.pdf):

Running the sureal software should do exactly that.

If you want to be strict about subject rejection, you could also simply look at the correlations between individual ratings and mean opinion scores and remove all subjects unde

[2018-09-03 06:35] slhck commented on #220
You cannot ignore the quality degradation due to downscaling, so you should not interpret a low score as “good”. If VMAF gives you a score of 1, it *will* be bad for the viewer. In order to find out what the best possible quality is you can achieve for a given resolution, you need to run multiple encodings at different target rates or target quality settings, and find the point at which the qualit

[2018-09-03 07:10] liuxj901103 commented on #222
Thank you for your quick reply.
I have checked the datas from my subjective tests. And I think some  observers may not take it seriously. So some scores are obviously wrong.For example, they scored all the videos with different distortion 5 point or 1 point.
I have read the paper, and I got the result with Running the sureal software.
![figure_1](https://user-images.githubusercontent.com/40554507/

[2018-09-03 08:10] #205 closed

[2018-09-05 00:31] li-zhi commented on #222
@liuxj901103 from the raw data plot it does look like some subjects are outliers, like the second last and the third last ones. Unfortunately running SR_DMOS doesn't explicitly print out which subjects get rejected, although they do (sorry for the bad interface). It happens here:
https://github.com/Netflix/sureal/blob/master/python/src/sureal/subjective_model.py#L171

I recommend that you add a li

[2018-09-05 02:31] liuxj901103 commented on #222
I have printed out the result of rejected subjects. But it was empty.
Thanks anyway. I am suposed to make a futher exploration.

[2018-09-05 04:35] li-zhi commented on #222
If you try on this dataset: https://github.com/Netflix/sureal/blob/master/resource/dataset/NFLX_dataset_public_raw_last4outliers.py
You should definitely find subjects rejected. Use it as a sanity check.

[2018-09-09 08:14] sridhard opened #223 "ffmpeg2vmaf coredumps"
Hi,

I get the following error when I run ffmpeg2vmaf

Stream mapping:
  Stream #0:0 -> #0:0 (h264 (native) -> rawvideo (native))
Press [q] to stop, [?] for help
Output #0, rawvideo, to '/home/ubuntu/VMAF/vmaf/workspace/workdir/e7507b45-aa5e-42c5-a2b4-a9e6de3b210e/dis_cmd_8041123613741203_8041123613741203_test_orig_notyuv_vs_peer1_notyuv_q_1280x720':
  Metadata:
    major_brand     : isom
    mino

[2018-09-09 22:16] li-zhi commented on #223
@sridhard The error message seems cryptic and it is hard to figure out what went wrong unless one can reproduce it. Moving forward the blessed way to run VMAF on non-YUV videos is FFmpeg + libvmaf as a filter. See: https://ffmpeg.org/ffmpeg-filters.html#libvmaf

[2018-09-10 13:42] common1994 opened #224 "Why only consider the Y component and skip the U and V components?"
In the callback function "read_frame", I see that one frame in the original video and the corrupted video is saved with the parameters 'ref_data' and 'dis_data', and then the U and V components are skipped. Is the U and V components not considered in the video reference evaluation, and why?

Below is the general flow of the function 'read_frame'：

int read_frame(float *ref_data, float *dis_data, f

[2018-09-10 13:45] common1994 commented on #224
@li-zhi
Can you tell me why this is? Thank you!

[2018-09-10 18:17] yuhjay commented on #224
1. VMAF is built upon other metrics, like VIF, ADM and others. These metrics are mainly designed for detecting degradation of luma component.
2. Why it still works? I think for most encoders, the rate control of UV is solely based on Y so it works.

Sent from my iPhone

[2018-09-12 00:59] common1994 commented on #224
Thank you for your reply. @yuhjay
I can understand the first point, but I can't understand "the rate control of UV is solely based on Y". I am new to vmaf, and I am a Chinese, can you say something simpler and more detailed?

[2018-09-12 01:02] yuhjay commented on #224
I mean the decision of Chroma QP is usually based on Luma. You can check the rate control mechanism of x264 to see how it works.

Sent from my iPhone

[2018-09-12 01:16] mht13 commented on #224
Awesome response. Technical and to the point. And sent from a mobile. What else can one argue?

[2018-09-13 05:30] christosbampis commented on #224
Your observation is on point: VMAF is currently trained on features extracted only from the luminance component. The previous answers are correct, I would also add that for perceptual quality, the chroma channels are usually not considered. There are algorithms that do look into that (e.g. for color image quality assessment). Indirectly, Y has a larger weight on green, so you can get something fro

[2018-09-14 01:26] common1994 commented on #224
Thand you for you reply! @christosbampis
Although I don't know which attributes of the image affect the perceived quality, I will understand the content related to it. Now I will choose vmaf as the algorithm for our video quality assessment system.

[2018-09-15 08:46] #222 closed

[2018-09-20 10:06] badpx commented on #80
@chuaweijie , may be you can try the absolute file path.

[2018-09-21 02:07] chuaweijie commented on #80
@badpx thanks for the reply. I'm not using this anymore. I'm sure your reply will help others. ^^
Cheers.

[2018-09-27 11:47] neil0615 commented on #218
I met the same error in Visual Studio 2017.

[2018-09-27 12:29] common1994 commented on #218
There is a function named 'min()' in the picture above, you need to change the name of it to any other name, because 'min' has the same name with a macro in Visual Studio 2017, this is the reason why vmaf can't be compiled in Visual Studio 2017.

[2018-09-27 17:29] Kwadzovia commented on #218
This solved my problem, thank you.

[2018-09-27 17:46] li-zhi commented on #218
Let me update the code to avoid this confusion. Thanks for the pointer @common1994

[2018-09-28 12:34] neil0615 commented on #218
Thank you. I generated the executable file successfully.

[2018-09-28 13:30] neil0615 opened #228 "Is there any available model file for vmafossexec example"
I try to use vmafossexec.exe to test the test yuv file "src01_hrc00_576x324.yuv" with "src01_hrc01_576x324.yuv".
 Comparing to the demo _run_vmaf_ , I find there is an extra parameter [model_path] and set model_path = /vmaf/model/*model(e.g. vmaf_v0.6.1.pkl.model),but get an error message"Caught logic_error: array: attempting to access element:18446744073709551613 in array of length:0"
I want to k

[2018-09-28 14:18] li-zhi commented on #228
[model_path] is optional, and you can leave it out. If you do include it,
make sure to only use vmaf_v0.6.1.pkl.

On Fri, Sep 28, 2018 at 6:30 AM neil0615 <notifications@github.com> wrote:

[2018-10-03 14:52] JHartman5 opened #229 "Docker build fails on matplotlib"
[code]

Doing what pip suggested and adding `RUN pip install --upgrade pip` before the existing `RUN pip install...` line in the Dockerfile allowed it to proceed.

[2018-10-04 15:50] #229 closed

[2018-10-11 10:37] sandersaares opened #232 "Docker instructions fail: no matching manifest for windows/amd64 in the manifest list entries"
I am following docs in https://github.com/Netflix/vmaf/blob/master/resource/doc/docker.md

The first command `docker build -t vmaf .` results in the following:

[code]

[2018-10-12 11:37] kanza-ali opened #233 "Error in installation"
I am using Ubuntu 16 and want to install vmaf
When I do ./unittest

FAIL: test_run_vmaf_training_raw_dataset (command_line_test.CommandLineTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/kanza/Downloads/vmaf-master/python/test/command_line_test.py", line 66, in test_run_vmaf_training_raw_dataset
    ret = run_process(cmd

[2018-10-12 11:47] slhck commented on #233
What happens if you run a simple VMAF command according to https://github.com/Netflix/vmaf/blob/master/resource/doc/VMAF_Python_library.md#basic-usage?

[2018-10-15 00:56] vivianyeoh opened #235 "Store video"
Hi,

Can I know how do you save your video? Do you get the video from capture card and store it in yuv directly or you have the mp4 and you just need to convert it to yuv?

[2018-10-15 06:15] slhck commented on #233
"Not working" is not a proper error description. Please show exactly what you are typing and what happens.

[2018-10-15 07:42] slhck commented on #235
Your question is not really understandable. Which video specifically are you talking about?

Input to VMAF is generally YUV; if you want to use VMAF with MP4 files, convert them to YUV, or use the ffmpeg `vmaf` filter.

[2018-10-15 07:52] vivianyeoh commented on #235
The video to use in dataset. Do you capture it with capture card and use third party to store it or you convert existing mp4 into yuv?

[2018-10-15 07:54] slhck commented on #235
Which dataset do you mean?

If you are creating your own dataset from a bunch of, say, H.264-encoded videos that are stored in .MP4, then you could use ffmpeg to convert them to YUV, e.g.:

    ffmpeg -i input.mp4 -c:v rawvideo -pix_fmt yuv420p output.yuv

[2018-10-15 07:56] vivianyeoh commented on #235
The dataset to train the model. Have you ever try to store directly to yuv with capture card like magewell pro capture card before?

[2018-10-15 08:02] slhck commented on #235
It depends on where you get your material from. Of course you can use a capture card to create the distorted YUV files. But you still need the original source.

[2018-10-15 08:49] sandersaares opened #236 "Have you considered non-comparison-based metrics?"
The VMAF metrics work by comparing renditions against a pristine reference video. However, this is not what the human mind does when viewing content. A metric that evaluates content for signs of coding-induced degradation without the use of a reference image would be desirable to have.

Have the project maintainers considered using/including such algorithms in VMAF? I imagine for Netflix scenario

[2018-10-16 02:07] kanza-ali commented on #233
Thank you for your reply and help. The error is:

ImportError: No module named vmaf.config

When I am following these steps for installation given here:

https://github.com/Netflix/vmaf/blob/master/resource/doc/VMAF_Python_library.md#basic-usage

I run "make" the output is

make[1]: Entering directory '/home/kanza/Downloads/vmaf/libsvm'
if [ "Linux" = "Darwin" ]; then \
	SHARED_LIB_FLAG="-dynamicl

[2018-10-17 06:14] kanza-ali commented on #233
hi @slhck

I have successfully installed the VMAF. While I am trying to find the psnr of video, I have following error

Traceback (most recent call last):
  File "./run_vmaf", line 8, in <module>
    from vmaf.config import VmafConfig, DisplayConfig
ImportError: No module named 'vmaf'

[2018-10-17 06:35] kanza-ali commented on #233
I have open ~/.bashrc by vim and added
export PATH="$PATH:$HOME/.local/bin"
at the end of the file. but I think I am missing something.

[2018-10-17 06:39] kanza-ali commented on #233
I am using python3 and checked the path by "where python3"

whereis python3
python3: /usr/bin/python3 /usr/bin/python3.5m /usr/bin/python3.5-config /usr/bin/python3.5m-config /usr/bin/python3.5 /usr/lib/python3 /usr/lib/python3.5 /etc/python3 /etc/python3.5 /usr/local/lib/python3.5 /usr/include/python3.5m /usr/include/python3.5 /usr/share/python3 /usr/share/man/man1/python3.1.gz

how to fix this?

[2018-10-17 07:37] slhck commented on #233
That's the executable path – I was referring to the Python module path. Have you followed the instructions here, particularly the ones with PYTHONPATH?

https://github.com/Netflix/vmaf/blob/master/resource/doc/VMAF_Python_library.md#installation

[2018-10-17 10:36] kanza-ali commented on #233
OK resolved the issue.

[2018-10-17 10:41] kanza-ali commented on #233
I am using ubuntu16 and python3, So how to resolve this error

File "/home/kanza/Downloads/vmaf/python/src/vmaf/tools/scanf.py", line 176, in <module>
    from sets import Set
ImportError: No module named 'sets'

[2018-10-17 11:09] slhck commented on #233
Glad you got it working.
What you're showing seems like an unneeded line of code.

@li-zhi – I'd propose removing the import, as Python 2.7 and above should already import `set`.

[2018-10-17 11:14] kanza-ali commented on #233
I am not getting you, you propose me to remove import from scanf.py file?

[2018-10-17 11:15] slhck commented on #233
No, I've asked the main developer to remove it. I may also provide a Pull Request later. At least it seems to me that the import is breaking things with more recent Python versions.

In the meantime, I recommend calling VMAF with Python 2.7.

[2018-10-17 11:16] kanza-ali commented on #233
OK
Thank you so much for all your help and guidance.

[2018-10-17 11:29] slhck commented on #233
Please do not ask unrelated questions in one thread.

YUV is needed because VMAF is just comparing pixels. For parsing different video formats, VMAF would have to implement many decoders, which is not practical. You can use VMAF in FFmpeg in order to compare different formats. See: https://ffmpeg.org/ffmpeg-filters.html#libvmaf and https://github.com/Netflix/vmaf/blob/master/resource/doc/libvmaf.m

[2018-10-17 11:47] slhck commented on #233
I get it now – VMAF is not Python3-compatible at all. So please stick to Python 2.7.

[2018-10-17 11:49] kanza-ali commented on #233
:(

My FFmpeg is installed python3 and wanted to usee VAMF for batch of videos to know the PSNR

[2018-10-17 11:53] slhck commented on #233
I don't quite understand. ffmpeg does not have anything to do with Python. Does your system have Python 2.7? If so, I recommend following the guide here: https://github.com/Netflix/vmaf/blob/master/resource/doc/libvmaf.md

Then compiling ffmpeg with `--enable-libvmaf` according to the compilation guide: https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu

[2018-10-17 11:57] kanza-ali commented on #233
I have enabled libvmaf for FFmpeg.
I want to see PSNR per frame of a compressed video.

[2018-10-17 12:08] slhck commented on #233
If you only want PSNR, you do not need VMAF: http://ffmpeg.org/ffmpeg-filters.html#psnr

Or you calculate both at the same time:

    ffmpeg -i main.mpg -i ref.mpg -lavfi libvmaf="psnr=1:enable-transform=1" -f null -

If your original issue was resolved, please close this thread. Thank you!

[2018-10-17 12:13] slhck opened #237 "What does enable_transform do?"
In the FFmpeg help it says:

What transform is that? What is being transformed and how? When would one enable this option?

Would be great if this could be added to the documentation, here and for FFmpeg.

[2018-10-17 16:30] li-zhi commented on #233
@slhck Unfortunately currently VMAF only supports Python 2. Given the current momentum in Python 3, we might soon like to migrate VMAF to Python 3. Help would be very much appreciated.

[2018-10-17 16:36] li-zhi commented on #237
This option can enable/disable the `score_transform` applied to the final predicted VMAF score, if you have specified `score_transform` option in the input parameter file passed to run_vmaf_training.py. For example: https://github.com/Netflix/vmaf/blob/master/resource/param/vmaf_v6.py. We have been using this option to enable/disable the phone model option, since it is essentially a point operator

[2018-10-17 16:49] slhck commented on #237
Thanks for the explanation. So this is intrinsically part of the model file and can be applied if needed?

I'm asking so naively since even the example given in the ffmpeg documentation enables the transform, but I wasn't clear about what that'd do.

[2018-10-17 16:53] kylophone commented on #237
Yeah. Good point. I can update the FFmpeg docs.

[2018-10-17 16:54] kylophone commented on #237
I'll leave this issue open until it's fixed.

[2018-10-17 17:01] slhck commented on #233
Yeah, I noticed when I tried to update the `scanf.py` file that many other things needed to be fixed — and a simple `2to3` call doesn't do it. I'm happy to look into it as soon as I find some time.

In fact, I think that it's well worth the effort to migrate these kinds of projects and get into a habit of defaulting to Python 3, as most things are backward-compatible.

[2018-10-17 17:15] li-zhi commented on #237
For the default model, score_transform should be disabled. The default model should generate a score value lower than the phone model.

[2018-10-19 03:51] yilin9999 opened #238 "VMAF reference definition"
Hi,
We have read the FAQ and some discussions, and still had a question about the reference definition.

Why does VMAF use 1080p/3H as its reference?

In my opinion, I think there are two possible aspects of this calibration.

-	First is resolution-driven, 1080p is mainstream TV high quality, and based on the ITU-R BT 2022, section 1.3.2, the corresponding viewing distance is 3H

-	Second is viewi

[2018-10-19 16:51] li-zhi commented on #238
The first one is more close to the truth. Regarding viewing distance: a study has found that in UK the average household TV viewing distance is greater than 3H. So in this case, VMAF is a pessimistic estimation.

[2018-10-22 11:19] yilin9999 commented on #238
Hi li-zhi,

Thanks for your helpful explanation.

I have read the VMAF definition in the following two descriptions:
1.
https://github.com/Netflix/vmaf/blob/master/resource/doc/models.md
-	This model is trained using subjective data collected in a lab experiment, based on the absolute categorical rating (ACR)
2.
https://medium.com/netflix-techblog/toward-a-practical-perceptual-video-quality-metric

[2018-10-22 19:14] kylophone commented on #237
http://ffmpeg.org/pipermail/ffmpeg-devel/2018-October/235444.html

[2018-10-22 19:21] slhck commented on #237
Looks good to me!

The only thing I'd add is removing the confusing example:

I don't see why the above would need `enable_transform` if the default model is used.

[2018-10-22 19:52] kylophone commented on #237
Could change, but probably OK to keep (just as an example), but I'll let @li-zhi weigh in.

[2018-10-22 20:56] li-zhi commented on #237
I agree that we could use an example that are more likely to be used, for example:
[code]

[2018-10-22 21:00] kylophone commented on #237
OK

[2018-10-22 21:07] slhck commented on #237
Yep, I prefer this one as well. Thanks for your efforts.

[2018-10-23 06:15] liuxj901103 opened #241 "Reference is distorted video or special effect video"
Hi, I have trained my VMAF model with my reference videos which are distorted videos and special effect videos. AS a result, both the SRCC and PCC are very low. I wonder if the statistic characteristics of distorted videos and special effect videos couldn't follow a GSM distribution.And if  the distrubution of reference video matter more than chosing some better features.Thanks.

[2018-10-23 21:54] li-zhi commented on #238
@yilin9999 These are good questions.

On 1): what we found is that when passing ACR scores to the SVM model for training, when the hyper-parameters are set properly (meaning without incurring overfit), the learned model will still behave like a degradation metric at the very high quality end (for example, when passing two identical videos as ref/dis pair). When looking at the overall correlation,

[2018-10-24 11:49] taylorguo opened #242 "ffmpeg2vmaf can't work without ffmpeg path"
Must install ffmpeg and set FFMPEG_PATH in /Users/taylorguo/Documents/github/vmaf/python/src/vmaf/externals.py, e.g. add a line like
    FFMPEG_PATH = "[path to exec]/ffmpeg"

the externalsl.py file is missing ?

[2018-10-24 14:28] li-zhi commented on #241
Hi could you give more details about the special effect video?

On Mon, Oct 22, 2018 at 11:15 PM liuxj901103 <notifications@github.com>
wrote:

[2018-10-25 01:05] christosbampis commented on #236
No reference (NR) quality assessment is an exciting topic of research and with a very broad application scope. While VMAF is not designed to cover the NR case, there are a number of ideas that can be exploited moving forward.

[2018-10-25 01:09] christosbampis commented on #241
If the video is not of high quality (regardless if it is the reference or the distorted video), then it will not obey the GSM model as closely as a pristine video sequence. However, I am not sure I understand your question. As Zhi suggested, giving us more details would be helpful.

[2018-10-25 02:46] liuxj901103 commented on #241
Thankyou for your apply. My most referenc videos are distorted with blocking artifacts more or less. A special effect video is shown as below.
![image](https://user-images.githubusercontent.com/40554507/47472982-406b9180-d843-11e8-8d57-c1cad71c945d.png)
 In the extreme,a reference video is as the figure shows below.
![image](https://user-images.githubusercontent.com/40554507/47472276-ad315c80-d840

[2018-10-25 02:55] adhamhf opened #243 "help: macOS, libvmaf and CVPixelBuffer"
Hi,

I'm trying to use libvmaf with a CVPixelBuffer.  I'm not use video, I'm using individual images.  I read in my reference and test image into CVPixelBuffers.  I then override read_frame to get the pixel buffer from user_data.  I get the data from the buffers and assign it to ref_data and main_data.  this also seems create, but...  I always get 1 for ssim and msssim.  the vmaf score is always 9

[2018-10-25 04:15] taylorguo commented on #242
it works, thank you!

[2018-10-25 04:15] #242 closed

[2018-10-26 23:35] christosbampis commented on #241
Thank you for providing these sample frames. In both cases, these videos are of low quality. You can still apply VMAF but you may not get intuitive/meaningful results. It is an open area of research to extend a FR metric, like VMAF, to the NR case.

[2018-10-27 02:56] liuxj901103 commented on #241
I didn't mean NR case. I just wonder if the distorted videos can be trained with vmaf, or get a meaningful model.

[2018-10-30 00:18] phoenixstar7 commented on #218
I had the same error as I was using an older version of the branch. With the new  download, I built the executable files successfully. Thanks

[2018-10-31 17:00] adhamhf commented on #243
@li-zhi could you help me understand what format the pixel data needs to be in?

[2018-10-31 19:46] li-zhi commented on #243
Sorry the delayed response. The standard pixel formats that libvmaf can take are: yuv420p, yuv422p, yuv444p, yuv420p10le, yuv422p10le and yuv44410le.

[2018-10-31 20:14] adhamhf commented on #243
@li-zhi sorry.  I asked the question poorly.   Is the pixel data expected to be float between 0 and 1 or something else?   I think I need the convert the individual pixel values from uint8 to something else...

[2018-10-31 20:22] li-zhi commented on #243
No, it must not be float. For example, for `yuv420p`, you will expect your data to be `6 bytes per 4 pixels, reordered`. Refer to: https://en.wikipedia.org/wiki/YUV

[2018-11-01 16:44] adhamhf commented on #243
thanks, for that clarification.  The symptom I'm seeing is that all the metrics come out to a perfect match,  ssim is 1.0,  ms_ssim is 1.0 and all the vif_scales.  I think I'm getting my data in to YUV 422 planar format, but those results are wrong because I'm comparing very different images.

Do you think this symptom could be caused by the pixel format being wrong, or something else?

[2018-11-02 03:35] coolfat opened #247 "vmaf compute with x265 integrated libvmaf segment fault error"
The command is follows:
./x265 --input src.yuv --fps 25.0 --input-res 720x1280 --csv csv.log --crf 18.0 --recon rec.yuv -o dst-src.265

Env: linux system
gcc version: gcc.4.8.2

I check the backtrance in gdb:
0x00007ffff6c1e3f7 in raise () from /opt/compiler/gcc-4.8.2/lib/libc.so.6
(gdb) bt
0 0x00007ffff6c1e3f7 in raise () from /opt/compiler/gcc-4.8.2/lib/libc.so.6
1 0x00007ffff6c1f7d8 in abort ()

[2018-11-02 05:39] chinesealex210 opened #248 "Reference resolution different from distorted resolution"
Hi,

Suppose I have a 3840x2160 reference video and a 1920x1080 distorted video.
When I use ffmpeg2vmaf, I can scale the distorted video's resolution to 3840x2160 by specify quality_width and quality_height:

./ffmpeg2vmaf quality_width quality_height reference_path distorted_path \
  [--model model_path] [--out-fmt out_fmt]

But it seems that ffmpeg's libvmaf does not support it, libvmaf requires

[2018-11-02 07:13] li-zhi commented on #247
Did you point to the right model file, for example: `model/vmaf_v0.6.1.pkl`?

[2018-11-02 08:53] slhck commented on #248
You can scale the video with ffmpeg:

    ffmpeg -i main.mpg -i ref.mpg -filter_complex "[0:v]scale=3840:2160[main];[main][1:v]libvmaf" -f null -

This scales the first input video `0:v` and forwards it to VMAF with the label `main`, where it's compared against the second input video `1:v`.

See the [Filtering Guide](https://trac.ffmpeg.org/wiki/FilteringGuide) for more examples of complex filters

[2018-11-02 20:38] adhamhf commented on #243
closing, here's the solution:

[code]

[2018-11-02 20:38] #243 closed

[2018-11-02 20:41] chinesealex210 commented on #248
Thank you so much, it works!

[2018-11-02 21:08] kylophone commented on #248
Thanks.

[2018-11-02 21:08] #248 closed

[2018-11-03 01:44] li-zhi commented on #248
@slhck Useful tip! Could you add it to the FAQ page as well?

[2018-11-03 16:36] idxa opened #252 "vmaf score decreased when SAO enabled"
I have tested some x265's parameters based on vmaf. It is found the bitrate-vmaf curve become lower when SAO enabled, while psnr and ssim r-d curve become higher.
It looks that SAO can truly improve subjective quality of clips on low bitrate, would that mean vmaf(current version) can’t detect some attributes SAO based on that are good for the visual quality? Thanks